# Socio-economic Profiles 2019

This code creates the socio-economic profile data for the San Francisco Planning Department's Neighborhood Socio-Economic Profiles. Socio-economic profiles data is derived from the [American Community Survey](https://www.census.gov/programs-surveys/acs) 5-year data and is created annually by the Planning Department. Tract level socio-economic data from is combined at the neighborhood and zip code level for the City of San Francisco. This code is based off methods created by Michael Webster and others. Run the notebook to:

- Download ACS data using the Census API
- Calculate socio-economic profiles data
- Export data to csv in two formats.

In [173]:
# Import libraries
import requests
import pandas as pd
from collections import defaultdict

## Retrieve data from Census API
All socio-economic data comes from the Census ACS 5-year estimates and is available at the tract level through the census API. API documentation and data for the 2019 ACS data and previous years is available [here](https://www.census.gov/data/developers/data-sets/acs-5year.html)

### Census Attribute IDs
The attribute ID list below is a list of ASC attribute IDs that correspond to attributes included in the socio-economic data calcs. For a list of attribute ID and their meanings visit the API docs [here](https://api.census.gov/data/2019/acs/acs5/variables.html). 

Attributes included in the list below were derived from the attributes in the [Data_Items_and_Sources.xlsx](https://github.com/jsherba/socio-economic-profiles/raw/main/Data_Items_And_Sources_2019.xlsx) file developed by Michael Webster.

In [175]:
# list of attribute ids
attributes_ids=['B11001_001E','B11001_002E','B11001_007E','B11001_008E','B11005_002E','B11006_002E',
                'B11002_001E','B11002_002E','B02001_001E','B02001_005E','B02001_003E','B02001_002E',
                'B02001_004E','B02001_006E','B02001_008E','B02001_007E','B03001_003E','B03001_001E',
                'B19001_001E','B19001_002E','B19001_003E','B19001_004E','B19001_005E','B19001_006E', 
                'B19001_007E','B19001_008E','B19001_009E','B19001_010E','B19001_011E','B19001_012E', 
                'B19001_013E','B19001_014E','B19001_015E','B19001_016E','B19001_017E','B01001_001E',
                'B26001_001E','B01001_026E','B01001_003E','B01001_027E','B01001_004E',
                'B01001_005E','B01001_006E','B01001_028E','B01001_029E','B01001_030E','B01001_007E',
                'B01001_008E','B01001_009E','B01001_010E','B01001_011E','B01001_012E','B01001_031E',
                'B01001_032E','B01001_033E','B01001_034E','B01001_035E','B01001_036E','B01001_013E',
                'B01001_014E','B01001_015E','B01001_016E','B01001_017E','B01001_037E','B01001_038E',
                'B01001_039E','B01001_040E','B01001_041E','B01001_018E','B01001_019E','B01001_020E', 
                'B01001_021E','B01001_022E','B01001_023E','B01001_024E','B01001_025E','B01001_042E',
                'B01001_043E','B01001_044E','B01001_045E','B01001_046E','B01001_047E','B01001_048E',
                'B01001_049E'
               ]

### Build Census API URL and Make Query
The code below builds the Url for the census API call to get relevant 2019 ACS attribute data at the tract level for San Francisco County. Below define:
- Tract code is '*' to collect all tracts
- State code is '06' for CA
- County code is '075' for San Francisco County
- Attributes are defined by the attribute id list and includes all relevant attributes for the socio-economic data calcs

In [170]:
# build API call for census.gov
tract_code = "*"
state_code = "06"
county_code = "075"
#attributes = ','.join(attributes_ids)
#census_url = r'https://api.census.gov/data/2019/acs/acs5?get={}&for=tract:{}&in=state:{}&in=county:{}'\
#.format(attributes, tract_code, state_code, county_code)

In [ ]:
def build_census_url(tract_code, state_code, county_code, attributes_ids):
    attributes = ','.join(attributes_ids)
    census_url = r'https://api.census.gov/data/2019/acs/acs5?get={}&for=tract:{}&in=state:{}&in=county:{}'\
                .format(attributes, tract_code, state_code, county_code)
    return census_url

In [ ]:
def make_census_api_call(census_url):
    # make API call to Census
    resp = requests.get(census_url)
    if resp.status_code != 200:
        # This means something went wrong.

        resp.raise_for_status()
        #raise requests.ApiError('GET {}'.format(resp.status_code))

    # retrieve data as json and convert to Pandas Dataframe
    data = resp.json()
    headers = data.pop(0)
    df = pd.DataFrame(data, columns=headers)

    # convert values that are not state, county, or tract to numeric type
    cols=[i for i in df.columns if i not in ["state","county","tract"]]
    for col in cols:
        df[col]=pd.to_numeric(df[col])
    return df

In [176]:
# build API call for census.gov
tract_code = "*"
state_code = "06"
county_code = "075"
split_attributes_ids = [attributes_ids[i:i+45] for i in range(0, len(attributes_ids), 45)]

for attribute_id_list in split_attributes_ids:
    census_url = build_census_url(tract_code, state_code, county_code, attribute_id_list)
    df = make_census_api_call(census_url)

[['B11001_001E',
  'B11001_002E',
  'B11001_007E',
  'B11001_008E',
  'B11005_002E',
  'B11006_002E',
  'B11002_001E',
  'B11002_002E',
  'B02001_001E',
  'B02001_005E',
  'B02001_003E',
  'B02001_002E',
  'B02001_004E',
  'B02001_006E',
  'B02001_008E',
  'B02001_007E',
  'B03001_003E',
  'B03001_001E',
  'B19001_001E',
  'B19001_002E',
  'B19001_003E',
  'B19001_004E',
  'B19001_005E',
  'B19001_006E',
  'B19001_007E',
  'B19001_008E',
  'B19001_009E',
  'B19001_010E',
  'B19001_011E',
  'B19001_012E',
  'B19001_013E',
  'B19001_014E',
  'B19001_015E',
  'B19001_016E',
  'B19001_017E',
  'B01001_001E',
  'B26001_001E',
  'B01001_026E',
  'B01001_003E',
  'B01001_027E',
  'B01001_004E',
  'B01001_005E',
  'B01001_006E',
  'B01001_028E',
  'B01001_029E'],
 ['B01001_030E',
  'B01001_007E',
  'B01001_008E',
  'B01001_009E',
  'B01001_010E',
  'B01001_011E',
  'B01001_012E',
  'B01001_031E',
  'B01001_032E',
  'B01001_033E',
  'B01001_034E',
  'B01001_035E',
  'B01001_036E',
  'B01001_013E',
  'B01001_014E',
  'B01001_015E',
  'B01001_016E',
  'B01001_017E',
  'B01001_037E',
  'B01001_038E',
  'B01001_039E',
  'B01001_040E',
  'B01001_041E',
  'B01001_018E',
  'B01001_019E',
  'B01001_020E',
  'B01001_021E',
  'B01001_022E',
  'B01001_023E',
  'B01001_024E',
  'B01001_025E',
  'B01001_042E',
  'B01001_043E',
  'B01001_044E',
  'B01001_045E',
  'B01001_046E',
  'B01001_047E',
  'B01001_048E',
  'B01001_049E']]

In [171]:
# print Census URL
census_url

'https://api.census.gov/data/2019/acs/acs5?get=B01001_008E,B01001_009E,B01001_010E,B01001_011E,B01001_012E,B01001_031E,B01001_032E,B01001_033E,B01001_034E,B01001_035E,B01001_036E,B01001_013E,B01001_014E,B01001_015E,B01001_016E,B01001_017E,B01001_037E,B01001_038E,B01001_039E,B01001_040E,B01001_041E,B01001_018E,B01001_019E,B01001_020E,B01001_021E,B01001_022E,B01001_023E,B01001_024E,B01001_025E,B01001_042E,B01001_043E,B01001_044E,B01001_045E,B01001_046E,B01001_047E,B01001_048E,B01001_049E&for=tract:*&in=state:06&in=county:075'

In [172]:
# make API call to Census
resp = requests.get(census_url)
if resp.status_code != 200:
    # This means something went wrong.
    
    resp.raise_for_status()
    #raise requests.ApiError('GET {}'.format(resp.status_code))
    
# retrieve data as json and convert to Pandas Dataframe
data = resp.json()
headers = data.pop(0)
df = pd.DataFrame(data, columns=headers)

# convert values that are not state, county, or tract to numeric type
cols=[i for i in df.columns if i not in ["state","county","tract"]]
for col in cols:
    df[col]=pd.to_numeric(df[col])
    
# print first rows    
df.head()

,B01001_008E,B01001_009E,B01001_010E,B01001_011E,B01001_012E,B01001_031E,B01001_032E,B01001_033E,B01001_034E,B01001_035E,...,B01001_043E,B01001_044E,B01001_045E,B01001_046E,B01001_047E,B01001_048E,B01001_049E,state,county,tract
0,0,0,0,59,24,11,9,0,4,46,...,38,49,15,87,42,25,37,06,075,042800
1,24,20,29,101,76,30,21,29,69,147,...,46,53,53,45,12,7,14,06,075,026404
2,0,0,16,46,74,11,13,13,49,38,...,49,33,45,54,29,37,42,06,075,030600
3,0,47,32,106,105,6,34,27,75,63,...,54,122,30,145,11,42,82,06,075,031000
4,140,167,285,33,34,1663,255,213,185,136,...,22,6,10,11,0,13,18,06,075,033201

## Prepare Lookup Dictionaries and Helper Functions

### Tract/Neighborhood Lookup
Two lookup dictionaries are created below that relate neghborhoods to tracts and supervisor districts to tracts. These dictionaries are used to subset the census dataframe for each neighborhood or district so that calcs can be run on each set of tracts. The lookup dictionaries are created from geo_lookup.csv in the repository.

In [25]:
# import geo_lookup csv
geo_lookup_df = pd.read_csv (r'./geo_lookup.csv', dtype=str)

tract_nb_lookup = defaultdict(list)
tract_sd_lookup = defaultdict(list)

# create tract lookup dictionary for neighborhoods
for i, j in zip(geo_lookup_df['neighborhood'], geo_lookup_df['tractid']):
    tract_nb_lookup[i].append(j)

# create tract lookup dictionary for supervisor districts
for i, j in zip(geo_lookup_df['supervisor_district'], geo_lookup_df['tractid']):
    tract_sd_lookup[i].append(j)

### Calculating Medians
To calculate median values of aggregated geographies you cannot use the mean of component geographies. Instead a statistical approximation of the median must be calculated from range tables. 

Range variables in the ACS have a unique ID like any other Census variable. They represent the amount of a variable within a select range. e.g. number of households with household incomes between $45000-50000. Range variable ID's and range information is stored in the median_ranges.csv file in the repository. These range variables and ranges are needed for calculating the median at the neighborhood level. 

The below function calculates a median based on range data. This method follows the offical ACS documentation for [calculating a median](https://www.dof.ca.gov/Forecasting/Demographics/Census_Data_Center_Network/documents/How_to_Recalculate_a_Median.pdf)

In [26]:
# import median tables from median_ranges csv
range_df = pd.read_csv (r'./median_ranges.csv')
range_df['households']=0
range_df['cumulative_total']=0
range_df.head()

,name,id,range_start,range_end,households,cumulative_total
0,median_household_income,B19001_002E,0,9999,0,0
1,median_household_income,B19001_003E,10000,14999,0,0
2,median_household_income,B19001_004E,15000,19999,0,0
3,median_household_income,B19001_005E,20000,24999,0,0
4,median_household_income,B19001_006E,25000,29999,0,0

In [27]:
def calc_median(tract_df, range_df, median_to_calc):
    # subset range df for current median variable to calc
    range_df = range_df[range_df['name']==median_to_calc]
    # sort dataframe low to high by range start column
    range_df.sort_values(by=['range_start'])
    # calculate households as sum of tract level households for each row based on range id
    range_df['households'] = range_df.apply(lambda row : tract_df[row['id']].sum(), axis = 1)
    # calculate the cumulative total of households
    range_df['cumulative_total'] = range_df['households'].cumsum()
    # calculate total households 
    total_households = range_df['households'].sum()
    # calculate midpoint
    midpoint = total_households/2
    # extract rows below midrange by subsetting median df for rows with cumulative total less than midpoint.
    less_midpoint_df = range_df[range_df['cumulative_total']<midpoint]
    # get the single row containing the range just below the mid range by getting the row with the max range start from the subsetted median df
    range_below_mid_range_df = less_midpoint_df[less_midpoint_df['range_start'] == less_midpoint_df['range_start'].max()]
    # get the cumulative total value for the first row of the range below mid range dictionary
    total_hh_previous_range = range_below_mid_range_df['cumulative_total'].iloc[0]
    hh_to_mid_range = midpoint - total_hh_previous_range
    # extract rows above midrange by subsetting median df for rows with cumulative total grearter than midpoint.
    greater_midpoint_df = range_df[range_df['cumulative_total']>midpoint]
    # get the single row containing the mid range by getting the row with the min range start from the subsetted median df
    mid_range_df = greater_midpoint_df[greater_midpoint_df['range_start'] == greater_midpoint_df['range_start'].min()]
    # get the households value for the first row of the mid range dictionary
    hh_in_mid_range = mid_range_df['households'].iloc[0]
    # calculate proportion of number of households in the mid range that would be needed to get to the mid-point
    prop_of_hh = hh_to_mid_range/hh_in_mid_range
    # calculate width of the mid range
    width = (mid_range_df['range_end'].iloc[0]-mid_range_df['range_start'].iloc[0])+1
    # apply proportion to width of mid range
    prop_to_width = prop_of_hh*width
    beginning_of_mid_range = mid_range_df['range_start'].iloc[0]
    # calculate new median
    new_median = beginning_of_mid_range + prop_to_width
    return new_median

## Calculate Socio-economic Data
The `calc_socio_economic_data` function takes tract level data from the API call and the tract/neighborhood lookup dictionary. This function creates all of the socio-economic data calcs and returns a dictionary. The calcs in this function are derived from the [Data_Items_and_Sources.xlsx](https://github.com/jsherba/socio-economic-profiles/raw/main/Data_Items_And_Sources_2019.xlsx) file developed by Michael Webster

In [39]:
# define helper functions
def calc_sum(df, attribute_id):
    return df[attribute_id].sum()

def calc_normalized(df, attribute_id, attribute_id2):
    return (df[attribute_id].sum()/df[attribute_id2].sum())

def calc_sum_normalized(df, attribute_list, attribute_id2):
    sum_of_attributes = 0
    for attribute_id in attribute_list:
        sum_of_attributes+=df[attribute_id].sum()
    return sum_of_attributes/df[attribute_id2].sum()

In [40]:
# function runs all calcs for each neighborhood
def calc_socio_economic_data(df, tract_nb_lookup):
    # create empty dictionary to add calculated attribute information to
    all_calc_data = defaultdict(dict) 
    # calculate all stats for each neighborhood
    for nb_name, tracts in tract_nb_lookup.items():
        # extract attribute information for tracks associated with a neighborhood
        tract_df = df[df['tract'].isin(tracts)]
        # build dictionary with all stats for a neighborhood
        all_calc_data_nb = all_calc_data[nb_name]
        # population
        all_calc_data_nb["Total Population"] = calc_sum(tract_df, 'B01001_001E')
        all_calc_data_nb["Group Quarter Population"] = calc_sum(tract_df, 'B26001_001E')
        all_calc_data_nb["Percent Female"] = calc_normalized(tract_df, 'B01001_026E', 'B01001_001E')
        # household stats
        all_calc_data_nb["Housholds"] = calc_sum(tract_df, 'B11001_001E')
        all_calc_data_nb["Family Households"] = calc_normalized(tract_df, 'B11001_002E', 'B11001_001E')
        all_calc_data_nb["Non-Family Households"] = calc_normalized(tract_df, 'B11001_007E', 'B11001_001E')
        all_calc_data_nb["Single Person Households, % of Total"] = calc_normalized(tract_df, 'B11001_008E', 'B11001_001E')
        all_calc_data_nb["Households with Children, % of Total"] = calc_normalized(tract_df, 'B11005_002E', 'B11001_001E')
        all_calc_data_nb["Households with 60 years and older, % of Total"] = calc_normalized(tract_df, 'B11006_002E', 'B11001_001E')
        all_calc_data_nb["Average Household Size"] = calc_normalized(tract_df, 'B11002_001E', 'B11001_001E')
        all_calc_data_nb["Average Family Household Size"] = calc_normalized(tract_df, 'B11002_002E', 'B11001_002E')
        # race and ethnicity stats
        all_calc_data_nb["Asian"] = calc_normalized(tract_df, 'B02001_005E', 'B02001_001E')
        all_calc_data_nb["Black/African American"] = calc_normalized(tract_df, 'B02001_003E', 'B02001_001E')
        all_calc_data_nb["White"] = calc_normalized(tract_df, 'B02001_002E', 'B02001_001E')
        all_calc_data_nb["Native American Indian"] = calc_normalized(tract_df, 'B02001_005E', 'B02001_001E')
        all_calc_data_nb["Native Hawaiian/Pacific Islander"] = calc_normalized(tract_df, 'B02001_006E', 'B02001_001E')
        all_calc_data_nb["Other/Two or More Races"] = calc_sum_normalized(tract_df, ['B02001_008E', 'B02001_007E'], 'B02001_001E')
        all_calc_data_nb["% Latino (of Any Race)"] = calc_normalized(tract_df, 'B03001_003E', 'B03001_001E')
        # income, employment, and journey to work
        all_calc_data_nb["Median Household Income"] = calc_median(tract_df, range_df, 'median_household_income')
        # age
        all_calc_data_nb["0-4 Years"] = calc_sum_normalized(tract_df, ['B01001_003E', 'B01001_027E'], 'B01001_001E')
        all_calc_data_nb["5-17 Years"] = calc_sum_normalized(tract_df, ['B01001_004E', 'B01001_005E', 'B01001_006E', 'B01001_028E', 'B01001_029E', 'B01001_030E'],'B01001_001E')
        all_calc_data_nb["18-34 Years"] = calc_sum_normalized(tract_df, ['B01001_007E','B01001_008E','B01001_009E', 'B01001_010E', 'B01001_011E', 'B01001_012E','B01001_031E','B01001_032E','B01001_033E','B01001_034E','B01001_035E','B01001_036E'], 'B01001_001E')
        all_calc_data_nb["35-59 Years"] = calc_sum_normalized(tract_df, ['B01001_013E', 'B01001_014E', 'B01001_015E', 'B01001_016E', 'B01001_017E', 'B01001_037E', 'B01001_038E', 'B01001_039E', 'B01001_040E', 'B01001_041E'], 'B01001_001E')
        all_calc_data_nb["60 and Older"] = calc_sum_normalized(tract_df, ['B01001_018E', 'B01001_019', 'B01001_020E', 'B01001_021E', 'B01001_022E', 'B01001_023E', 'B01001_024E', 'B01001_025E', 'B01001_042E', 'B01001_043E', 'B01001_044E', 'B01001_045E', 'B01001_046E', 'B01001_047E', 'B01001_048E', 'B01001_049E'], 'B01001_001E')
        #all_calc_data_nb["Median Age"]

    #return calc dictionary
    return all_calc_data

In [41]:
# run functions to calculate all stats and convert calc dictionary to pandas dataframe
all_calc_data = calc_socio_economic_data(df, tract_nb_lookup)
df_all_calcs = pd.DataFrame.from_dict(all_calc_data).reset_index()
df_all_calcs.rename(columns = {'index':'Attribute'}, inplace = True) 
df_all_calcs.head()

C:\Users\Jason Sherba\Documents\2021_03_10_socioeconomic_profiles\myenv\lib\site-packages\ipykernel_launcher.py:6: RuntimeWarning: invalid value encountered in longlong_scalars

,Attribute,North Beach,Russian Hill,Financial District,Chinatown,Nob Hill,Tenderloin,Marina,Pacific Heights,Presidio Heights,...,Sunset/Parkside,Lakeshore,Inner Richmond,Outer Richmond,Seacliff,Presidio,Mission Bay,Lincoln Park,Golden Gate Park,McLaren Park
0,Total Population,11854.000000,18139.000000,21537.000000,14438.000000,26445.000000,29927.000000,25375.000000,24279.000000,10585.000000,...,82682.000000,14801.000000,22572.000000,45921.000000,2507.000000,4226.000000,13222.000000,312.000000,63.000000,507.000000
1,Group Quarter Population,17.000000,5.000000,563.000000,53.000000,977.000000,1523.000000,97.000000,518.000000,196.000000,...,452.000000,2723.000000,147.000000,202.000000,0.000000,0.000000,342.000000,191.000000,0.000000,0.000000
2,Percent Female,0.486081,0.503501,0.465617,0.516207,0.490641,0.429913,0.515153,0.518226,0.514218,...,0.507922,0.538950,0.547891,0.512336,0.483845,0.539991,0.519286,0.227564,0.396825,0.585799
3,Housholds,6297.000000,9636.000000,11297.000000,6907.000000,15247.000000,17649.000000,13583.000000,12815.000000,4805.000000,...,28277.000000,4924.000000,9385.000000,18652.000000,891.000000,1324.000000,6312.000000,70.000000,48.000000,239.000000
4,Family Households,0.397332,0.365816,0.372754,0.522948,0.268840,0.234348,0.309578,0.353726,0.470760,...,0.658839,0.390739,0.483324,0.537905,0.775533,0.556647,0.504119,0.442857,0.000000,0.472803

In [42]:
# transpose dataset for second neighborhood view of dataset
df_all_calcs2 = df_all_calcs.T.reset_index()
df_all_calcs2.columns = df_all_calcs2.iloc[0]
df_all_calcs2 = df_all_calcs2[1:].rename(columns={'Attribute':'Neighborhood'})
df_all_calcs2.head()

,Neighborhood,Total Population,Group Quarter Population,Percent Female,Housholds,Family Households,Non-Family Households,"Single Person Households, % of Total","Households with Children, % of Total","Households with 60 years and older, % of Total",Average Household Size,Average Family Household Size,Asian,Black/African American,White,Native American Indian,Native Hawaiian/Pacific Islander,Other/Two or More Races,% Latino (of Any Race),Median Household Income
1,North Beach,11854.0,17.0,0.486081,6297.0,0.397332,0.602668,0.464983,0.112911,0.365094,1.879784,2.730616,0.376919,0.026067,0.512401,0.376919,0.001856,0.082082,0.081491,88275.0
2,Russian Hill,18139.0,5.0,0.503501,9636.0,0.365816,0.634184,0.408053,0.078456,0.354089,1.881901,2.574184,0.272452,0.014334,0.673301,0.272452,0.000937,0.037323,0.058052,144372.294372
3,Financial District,21537.0,563.0,0.465617,11297.0,0.372754,0.627246,0.445694,0.102151,0.218642,1.856599,2.533602,0.409621,0.028648,0.481497,0.409621,0.001904,0.07833,0.070994,183786.525974
4,Chinatown,14438.0,53.0,0.516207,6907.0,0.522948,0.477052,0.411901,0.159693,0.581439,2.08267,2.830842,0.834395,0.001316,0.121069,0.834395,0.002424,0.032692,0.030475,25255.235602
5,Nob Hill,26445.0,977.0,0.490641,15247.0,0.26884,0.73116,0.556765,0.061127,0.273693,1.670361,2.563796,0.330875,0.037134,0.543959,0.330875,0.000983,0.083192,0.106825,91083.865351

## Visualizations

## Export

In [13]:
# export both dataset views to csv
df_all_calcs.to_csv(r'C:\Users\Jason Sherba\Downloads\data\test.csv', index = False)
df_all_calcs2.to_csv(r'C:\Users\Jason Sherba\Downloads\data\test2.csv', index = False)