# Socio-economic Profiles 2019

This code creates the socio-economic profile data for the San Francisco Planning Department's Neighborhood Socio-Economic Profiles. Socio-economic profiles data is derived from the [American Community Survey](https://www.census.gov/programs-surveys/acs) 5-year data and is created annually by the Planning Department. Tract level socio-economic data from is combined at the neighborhood and zip code level for the City of San Francisco. This code is based off methods created by Michael Webster and others. Run the notebook to:

- Download ACS data using the Census API
- Calculate socio-economic profiles data
- Export data to csv in two formats.

## Import packages

In [32]:
# Import libraries
import requests
import pandas as pd
from collections import defaultdict

## Retrieve data from Census API
All socio-economic data comes from the Census ACS 5-year estimates and is available at the tract level through the census API. API documentation and data for the 2019 ACS data and previous years is available [here](https://www.census.gov/data/developers/data-sets/acs-5year.html)

### Census Attribute IDs
The attribute ID list below is a list of ASC attribute IDs that correspond to attributes included in the socio-economic data calcs. For a list of attribute ID and their meanings visit the API docs [here](https://api.census.gov/data/2019/acs/acs5/variables.html). 

Attributes included in the list below were derived from the attributes in the [Data_Items_and_Sources.xlsx](https://github.com/jsherba/socio-economic-profiles/raw/main/Data_Items_And_Sources_2019.xlsx) file developed by Michael Webster.

In [33]:
# list of attribute ids
attribute_lookup_df = pd.read_csv (r'./attribute_lookup.csv', dtype=str)
attribute_ids_extracted = attribute_lookup_df['attribute_id'].tolist()
attribute_ids = []
for attribute_id in attribute_ids_extracted:
    attribute_ids.extend(attribute_id.split(", "))
attribute_ids = list(set([x+"E" for x in attribute_ids]))
len(attribute_ids)

285

### Build Census API URL and Make Query
The code below builds the Url for the census API call to get relevant 2019 ACS attribute data at the tract level for San Francisco County.The Census API accepts up to 50 attributes at a time. Therefore a the attribute list is first grouped into sublists of 45. A recursive function queries the API for each group of 45 attributes and appends results together. Below define:
- Tract code is '*' to collect all tracts
- State code is '06' for CA
- County code is '075' for San Francisco County
- Attributes are defined by the attribute id list and includes all relevant attributes for the socio-economic data calcs

In [34]:
# function builds the api URL from tract_code, state_code, county_code, and attribute ids. 
def build_census_url(tract_code, state_code, county_code, attribute_ids):
    attributes = ','.join(attribute_ids)
    census_url = r'https://api.census.gov/data/2019/acs/acs5?get={}&for=tract:{}&in=state:{}&in=county:{}'\
                .format(attributes, tract_code, state_code, county_code)
    return census_url

In [35]:
# function makes a single api call and collects results in a pandas dataframe
def make_census_api_call(census_url):
    # make API call to Census
    resp = requests.get(census_url)
    if resp.status_code != 200:
        # This means something went wrong.

        resp.raise_for_status()
        #raise requests.ApiError('GET {}'.format(resp.status_code))

    # retrieve data as json and convert to Pandas Dataframe
    data = resp.json()
    headers = data.pop(0)
    df = pd.DataFrame(data, columns=headers)

    # convert values that are not state, county, or tract to numeric type
    cols=[i for i in df.columns if i not in ["state","county","tract"]]
    for col in cols:
        df[col]=pd.to_numeric(df[col])
    return df

In [36]:
# make api calls and merge results into single df
tract_code = "*"
state_code = "06"
county_code = "075"
split_attribute_ids = [attribute_ids[i:i+45] for i in range(0, len(attribute_ids), 45)]
df=None
first = True
for ids in split_attribute_ids:
    census_url = build_census_url(tract_code, state_code, county_code, ids)
    returned_df = make_census_api_call(census_url)
    if first:
        df = returned_df
        first = False
    else:
        returned_df = returned_df.drop(columns=['state', 'county'])
        df = pd.merge(df, returned_df, on='tract', how='left')

df.head()

,B01001_033E,B16007_013E,B19101_012E,B23001_129E,B25004_002E,B02001_008E,B25024_008E,B16003_005E,B19001_012E,B15003_003E,...,B23001_018E,B16007_011E,B02001_001E,B15003_017E,B01001_009E,B15003_012E,B05002_001E,B23001_036E,B01001_035E,B01001_020E
0,0,0,42,0,0,230,0,0,62,0,...,0,74,2507,41,0,3,2507,0,46,8
1,29,0,52,7,0,137,0,0,42,0,...,26,37,2897,391,20,54,2897,0,147,53
2,13,4,0,0,0,241,0,0,18,9,...,6,39,2495,107,0,0,2495,7,38,12
3,27,27,73,0,0,179,45,0,60,0,...,32,179,3804,278,47,11,3804,0,63,28
4,213,46,0,0,45,380,212,0,28,0,...,190,199,4551,20,167,5,4551,6,136,0

## Prepare Lookup Dictionaries and Helper Functions

### Tract/Neighborhood Lookup
Two lookup dictionaries are created below that relate neghborhoods to tracts and supervisor districts to tracts. These dictionaries are used to subset the census dataframe for each neighborhood or district so that calcs can be run on each set of tracts. The lookup dictionaries are created from geo_lookup.csv in the repository.

In [37]:
# import geo_lookup csv
geo_lookup_df = pd.read_csv (r'./geo_lookup.csv', dtype=str)

tract_nb_lookup = defaultdict(list)
tract_sd_lookup = defaultdict(list)

# create tract lookup dictionary for neighborhoods
for i, j in zip(geo_lookup_df['neighborhood'], geo_lookup_df['tractid']):
    tract_nb_lookup[i].append(j)

# create tract lookup dictionary for supervisor districts
for i, j in zip(geo_lookup_df['supervisor_district'], geo_lookup_df['tractid']):
    tract_sd_lookup[i].append(j)

### Calculating Medians
To calculate median values of aggregated geographies you cannot use the mean of component geographies. Instead a statistical approximation of the median must be calculated from range tables. 

Range variables in the ACS have a unique ID like any other Census variable. They represent the amount of a variable within a select range. e.g. number of households with household incomes between $45000-50000. Range variable ID's and range information is stored in the median_ranges.csv file in the repository. These range variables and ranges are needed for calculating the median at the neighborhood level. 

The below function calculates a median based on range data. This method follows the offical ACS documentation for [calculating a median](https://www.dof.ca.gov/Forecasting/Demographics/Census_Data_Center_Network/documents/How_to_Recalculate_a_Median.pdf)

In [38]:
# import median tables from median_ranges csv and add empty columns for rows 'households and 'cumulative_totals'
range_df = pd.read_csv (r'./median_ranges.csv')
range_df['households']=0
range_df['cumulative_total']=0
range_df.head()

,name,id,range_start,range_end,households,cumulative_total
0,median_household_income,B19001_002E,0,9999,0,0
1,median_household_income,B19001_003E,10000,14999,0,0
2,median_household_income,B19001_004E,15000,19999,0,0
3,median_household_income,B19001_005E,20000,24999,0,0
4,median_household_income,B19001_006E,25000,29999,0,0

In [61]:
# define median helper function
def calc_median(tract_df, range_df, median_to_calc):
    # subset range df for current median variable to calc
    range_df = range_df[range_df['name']==median_to_calc]
    # sort dataframe low to high by range start column
    range_df = range_df.sort_values(by=['range_start'])
    # calculate households as sum of tract level households for each row based on range id
    range_df['households'] = range_df.apply(lambda row : tract_df[row['id']].sum(), axis = 1)
    # calculate the cumulative total of households
    range_df['cumulative_total'] = range_df['households'].cumsum()
    # calculate total households and return 0 if total households is 0
    total_households = range_df['households'].sum()
    if total_households == 0:
        return 0
    # calculate midpoint
    midpoint = total_households/2
    print(midpoint)
    # extract rows below midrange by subsetting median df for rows with cumulative total less than midpoint.
    print(range_df)
    if midpoint < range_df['cumulative_total'].iloc[0]:
        less_midpoint_df = range_df[range_df['cumulative_total']==range_df['cumulative_total'].iloc[0]]
    else:
        less_midpoint_df = range_df[range_df['cumulative_total']<midpoint]
    # get the single row containing the range just below the mid range by getting the row with the max range start from the subsetted median df
    range_below_mid_range_df = less_midpoint_df[less_midpoint_df['range_start'] == less_midpoint_df['range_start'].max()]
    # get the cumulative total value for the first row of the range below mid range dictionary
    total_hh_previous_range = range_below_mid_range_df['cumulative_total'].iloc[0]
    hh_to_mid_range = midpoint - total_hh_previous_range
    # extract rows above midrange by subsetting median df for rows with cumulative total grearter than midpoint.
    greater_midpoint_df = range_df[range_df['cumulative_total']>midpoint]
    # get the single row containing the mid range by getting the row with the min range start from the subsetted median df
    mid_range_df = greater_midpoint_df[greater_midpoint_df['range_start'] == greater_midpoint_df['range_start'].min()]
    # get the households value for the first row of the mid range dictionary
    hh_in_mid_range = mid_range_df['households'].iloc[0]
    # calculate proportion of number of households in the mid range that would be needed to get to the mid-point
    prop_of_hh = hh_to_mid_range/hh_in_mid_range
    # calculate width of the mid range
    width = (mid_range_df['range_end'].iloc[0]-mid_range_df['range_start'].iloc[0])+1
    # apply proportion to width of mid range
    prop_to_width = prop_of_hh*width
    beginning_of_mid_range = mid_range_df['range_start'].iloc[0]
    # calculate new median
    new_median = beginning_of_mid_range + prop_to_width
    return new_median

## Calculate Socio-economic Data
The `calc_socio_economic_data` function takes tract level data from the API call and the tract/neighborhood lookup dictionary. This function creates all of the socio-economic data calcs and returns a dictionary. The calcs in this function are derived from the [Data_Items_and_Sources.xlsx](https://github.com/jsherba/socio-economic-profiles/raw/main/Data_Items_And_Sources_2019.xlsx) file developed by Michael Webster

In [62]:
# define other helper functions
def calc_sum(df, attribute_id):
    return df[attribute_id].sum()

def calc_normalized(df, attribute_id, attribute_id2):
    if df[attribute_id2].sum() == 0:
        return 0
    else:
        return (df[attribute_id].sum()/df[attribute_id2].sum())

def calc_sum_normalized(df, attribute_list, attribute_id2):
    if df[attribute_id2].sum()==0:
        return 0
    else:
        sum_of_attributes = 0
        for attribute_id in attribute_list:
            sum_of_attributes+=df[attribute_id].sum()
        return sum_of_attributes/df[attribute_id2].sum()

In [63]:
# function runs all calcs for each neighborhood
def calc_socio_economic_data(df, tract_nb_lookup):
    # create empty dictionary to add calculated attribute information to
    all_calc_data = defaultdict(dict) 
    # calculate all stats for each neighborhood
    for nb_name, tracts in tract_nb_lookup.items():
        # extract attribute information for tracks associated with a neighborhood
        tract_df = df[df['tract'].isin(tracts)]
        # build dictionary with all stats for a neighborhood
        all_calc_data_nb = all_calc_data[nb_name]
        # population
        all_calc_data_nb["Total Population"] = calc_sum(tract_df, 'B01001_001E')
        all_calc_data_nb["Group Quarter Population"] = calc_sum(tract_df, 'B26001_001E')
        all_calc_data_nb["Percent Female"] = calc_normalized(tract_df, 'B01001_026E', 'B01001_001E')
        # household stats
        all_calc_data_nb["Housholds"] = calc_sum(tract_df, 'B11001_001E')
        all_calc_data_nb["Family Households"] = calc_normalized(tract_df, 'B11001_002E', 'B11001_001E')
        all_calc_data_nb["Non-Family Households"] = calc_normalized(tract_df, 'B11001_007E', 'B11001_001E')
        all_calc_data_nb["Single Person Households, % of Total"] = calc_normalized(tract_df, 'B11001_008E', 'B11001_001E')
        all_calc_data_nb["Households with Children, % of Total"] = calc_normalized(tract_df, 'B11005_002E', 'B11001_001E')
        all_calc_data_nb["Households with 60 years and older, % of Total"] = calc_normalized(tract_df, 'B11006_002E', 'B11001_001E')
        all_calc_data_nb["Average Household Size"] = calc_normalized(tract_df, 'B11002_001E', 'B11001_001E')
        all_calc_data_nb["Average Family Household Size"] = calc_normalized(tract_df, 'B11002_002E', 'B11001_002E')
        # race and ethnicity stats
        all_calc_data_nb["Asian"] = calc_normalized(tract_df, 'B02001_005E', 'B02001_001E')
        all_calc_data_nb["Black/African American"] = calc_normalized(tract_df, 'B02001_003E', 'B02001_001E')
        all_calc_data_nb["White"] = calc_normalized(tract_df, 'B02001_002E', 'B02001_001E')
        all_calc_data_nb["Native American Indian"] = calc_normalized(tract_df, 'B02001_005E', 'B02001_001E')
        all_calc_data_nb["Native Hawaiian/Pacific Islander"] = calc_normalized(tract_df, 'B02001_006E', 'B02001_001E')
        all_calc_data_nb["Other/Two or More Races"] = calc_sum_normalized(tract_df, ['B02001_008E', 'B02001_007E'], 'B02001_001E')
        all_calc_data_nb["% Latino (of Any Race)"] = calc_normalized(tract_df, 'B03001_003E', 'B03001_001E')
        # age
        all_calc_data_nb["0-4 Years"] = calc_sum_normalized(tract_df, ['B01001_003E', 'B01001_027E'], 'B01001_001E')
        all_calc_data_nb["5-17 Years"] = calc_sum_normalized(tract_df, ['B01001_004E', 'B01001_005E', 'B01001_006E', 'B01001_028E', 'B01001_029E', 'B01001_030E'],'B01001_001E')
        all_calc_data_nb["18-34 Years"] = calc_sum_normalized(tract_df, ['B01001_007E','B01001_008E','B01001_009E', 'B01001_010E', 'B01001_011E', 'B01001_012E','B01001_031E','B01001_032E','B01001_033E','B01001_034E','B01001_035E','B01001_036E'], 'B01001_001E')
        all_calc_data_nb["35-59 Years"] = calc_sum_normalized(tract_df, ['B01001_013E', 'B01001_014E', 'B01001_015E', 'B01001_016E', 'B01001_017E', 'B01001_037E', 'B01001_038E', 'B01001_039E', 'B01001_040E', 'B01001_041E'], 'B01001_001E')
        all_calc_data_nb["60 and Older"] = calc_sum_normalized(tract_df, ['B01001_018E', 'B01001_019E', 'B01001_020E', 'B01001_021E', 'B01001_022E', 'B01001_023E', 'B01001_024E', 'B01001_025E', 'B01001_042E', 'B01001_043E', 'B01001_044E', 'B01001_045E', 'B01001_046E', 'B01001_047E', 'B01001_048E', 'B01001_049E'], 'B01001_001E')
        #all_calc_data_nb["Median Age"]
        # educationa attainment
        all_calc_data_nb["High School or Less"] = calc_sum_normalized(tract_df, ['B15003_002E', 'B15003_003E', 'B15003_004E', 'B15003_005E', 'B15003_006E', 'B15003_007E', 'B15003_008E', 'B15003_009E', 'B15003_010E', 'B15003_011E', 'B15003_012E', 'B15003_013E', 'B15003_014E', 'B15003_015E', 'B15003_016E', 'B15003_017E', 'B15003_018E'], 'B15003_001E')
        all_calc_data_nb["Some College/Associate Degree"] = calc_sum_normalized(tract_df, ['B15003_019E', 'B15003_020E', 'B15003_021E'], 'B15003_001E')
        all_calc_data_nb["College Degree"] = calc_normalized(tract_df, 'B15003_022E', 'B15003_001E')
        all_calc_data_nb["Graduate/Professional Degree"] = calc_sum_normalized(tract_df, ['B15003_023E', 'B15003_024E', 'B15003_025E'], 'B15003_001E')
        # nativity
        all_calc_data_nb["Foreign Born"] = calc_normalized(tract_df, 'B05002_013E', 'B05002_001E')
        # language spoken at home
        all_calc_data_nb["English Only"] = calc_sum_normalized(tract_df, ['B16007_003E', 'B16007_009E', 'B16007_015E'], 'B16007_001E')
        all_calc_data_nb["Spanish Only"] = calc_sum_normalized(tract_df, ['B16007_004E', 'B16007_010E', 'B16007_016E'], 'B16007_001E')
        all_calc_data_nb["Asian/Pacific Islander"] = calc_sum_normalized(tract_df, ['B16007_006E', 'B16007_012E', 'B16007_018E'], 'B16007_001E')
        all_calc_data_nb["Other European Languages"] = calc_sum_normalized(tract_df, ['B16007_005E', 'B16007_011E', 'B16007_017E'], 'B16007_001E')
        all_calc_data_nb["Other Languages"] = calc_sum_normalized(tract_df, ['B16007_007E', 'B16007_013E', 'B16007_019E'], 'B16007_001E')
        # linguistic isolation
        all_calc_data_nb["% of All Households"] = calc_sum_normalized(tract_df, ['B16003_002E', 'B16003_008E'], 'B16004_001E')
        all_calc_data_nb["% of Spanish-Speaking Households"] = calc_sum_normalized(tract_df, ['B16003_004E', 'B16003_009E'], 'B16004_001E')
        all_calc_data_nb["% of Asian-Speaking Households"] = calc_sum_normalized(tract_df, ['B16003_006E', 'B16003_011E'], 'B16004_001E')
        all_calc_data_nb["% of Other European-Speaking Households"] = calc_sum_normalized(tract_df, ['B16003_005E', 'B16003_010E'], 'B16004_001E')
        all_calc_data_nb["% of Households Speaking Other Languages"] = calc_sum_normalized(tract_df, ['B16003_007E', 'B16003_012E'], 'B16004_001E')
        # housing
        all_calc_data_nb["Total Number of Units"] = calc_sum(df, 'B25001_001E')
        all_calc_data_nb["Median Year Structure Built"] = calc_median(tract_df, range_df, 'median_year_structure_built')
        all_calc_data_nb["Owner Occupied"] = calc_normalized(tract_df, 'B25007_002E', 'B25007_001E')
        all_calc_data_nb["Renter Occupied"] = calc_normalized(tract_df, 'B25007_012E', 'B25007_001E')
        all_calc_data_nb["Vacant Units"] = calc_normalized(tract_df, 'B25004_001E', 'B25001_001E')
        all_calc_data_nb["For Rent"] = calc_normalized(tract_df, 'B25004_002E', 'B25004_001E')
        all_calc_data_nb["For Sale Only"] = calc_normalized(tract_df, 'B25004_004E', 'B25004_001E')
        all_calc_data_nb["Rented or Sold, Not Occupied"] = calc_sum_normalized(tract_df, ['B25004_003E', 'B25004_005E'], 'B25004_001E')
        all_calc_data_nb["For Seasonal, Recreation or Occasional Use"] = calc_normalized(tract_df, 'B25004_006E', 'B25004_001E')
        all_calc_data_nb["Other Vacant"] = calc_normalized(tract_df, 'B25004_008E', 'B25004_001E')
        #all_calc_data_nb["Median Year Moved in to Unit (Own)"] = calc_median(df, 'B25001_001E')
        #all_calc_data_nb["Median Year Moved in to Unit (Rent)"] = calc_median(df, 'B25001_001E')
        all_calc_data_nb["Percent in Same House Last Year"] = calc_normalized(tract_df, 'B07001_017E', 'B07001_001E')
        all_calc_data_nb["Percent Abroad Last Year"] = calc_normalized(tract_df, 'B07003_016E', 'B07003_001E')
        # structure type
        all_calc_data_nb["Single Family Housing"] = calc_sum_normalized(tract_df, ['B25024_002E', 'B25024_003E'], 'B25024_001E')
        all_calc_data_nb["2-4 Units"] = calc_sum_normalized(tract_df, ['B25024_004E', 'B25024_005E'], 'B25024_001E')
        all_calc_data_nb["5-9 Units"] = calc_normalized(tract_df, 'B25024_006E', 'B25024_001E')
        all_calc_data_nb["10-19 Units"] = calc_normalized(tract_df, 'B25024_007E', 'B25024_001E')
        all_calc_data_nb["20 Units or More"] = calc_sum_normalized(tract_df, ['B25024_008E', 'B25024_009E'], 'B25024_001E')
        all_calc_data_nb["Other"] = calc_sum_normalized(tract_df, ['B25024_010E', 'B25024_011E'], 'B25024_001E')
        # unit size
        all_calc_data_nb["No Bedroom"] = calc_normalized(tract_df,'B25041_002E', 'B25041_001E')
        all_calc_data_nb["1 Bedroom"] = calc_normalized(tract_df, 'B25041_003E', 'B25041_001E')
        all_calc_data_nb["2 Bedrooms"] = calc_normalized(tract_df, 'B25041_004E', 'B25041_001E')
        all_calc_data_nb["3-4 Bedrooms"] = calc_sum_normalized(tract_df, ['B25041_005E', 'B25041_006E'], 'B25041_001E')
        all_calc_data_nb["5 Bedrooms"] = calc_normalized(tract_df, 'B25041_007E', 'B25041_001E')
        # housing prices
        #all_calc_data_nb["Median Rent"] = calc_median(df, 'B25001_001E')
        #all_calc_data_nb["Median Contract Rent"] = calc_median(df, 'B25001_001E')
        #all_calc_data_nb["Median Rent as % of Household Income"] = calc_median(df, 'B25001_001E')
        #all_calc_data_nb["Median Home Value"] = calc_median(df, 'B25001_001E')
        # vehicles available
        all_calc_data_nb["Vehicles Available"] = calc_sum(df, 'B25046_001E')
        all_calc_data_nb["Vehicles Homeowners"] = calc_normalized(tract_df, 'B25046_002E', 'B25046_001E')
        all_calc_data_nb["Vehicles Renters"] = calc_normalized(tract_df, 'B25046_003E', 'B25046_001E')
        all_calc_data_nb["Vehicles Per Capita"] = calc_normalized(tract_df, 'B25046_001E', 'B01001_001E')
        all_calc_data_nb["Households with no Vehicle"] = calc_sum_normalized(tract_df, ['B25044_003E', 'B25044_010E'], 'B25044_001E')
        all_calc_data_nb["Percent of Homeowning Households"] = calc_normalized(tract_df, 'B25044_003E', 'B25044_002E')
        all_calc_data_nb["Percent of Renting Households"] = calc_normalized(tract_df, 'B25044_010E', 'B25044_009E')
        # income
        all_calc_data_nb["Median Household Income"] = calc_median(tract_df, range_df, 'median_household_income')
        all_calc_data_nb["Median Family Income"] = calc_median(tract_df, range_df, 'median_family_income')
        all_calc_data_nb["Per Capita Income"] = calc_normalized(tract_df, 'B19025_001E', 'B01001_001E')
        all_calc_data_nb["Percent in Poverty"] = calc_normalized(tract_df, 'B17001_002E', 'B17001_001E')
        # employment
        all_calc_data_nb["Unemployment Rate"] = calc_normalized(tract_df, 'B23025_005E', 'B23025_002E')
        all_calc_data_nb["Percent Unemployment Female"] = calc_sum_normalized(tract_df, ['B23001_094E', 'B23001_101E', 'B23001_108E', 'B23001_115E', 'B23001_122E', 'B23001_129E', 'B23001_136E', 'B23001_143E', 'B23001_150E', 'B23001_157E', 'B23001_162E', 'B23001_167E', 'B23001_172E', 'B23001_090E', 'B23001_097E', 'B23001_104E', 'B23001_111E', 'B23001_118E', 'B23001_125E', 'B23001_132E', 'B23001_139E', 'B23001_146E', 'B23001_153E', 'B23001_160E', 'B23001_165E', 'B23001_170E'], 'B23025_002E')
        all_calc_data_nb["Percent Unemployment Male"] = calc_sum_normalized(tract_df, ['B23001_008E', 'B23001_015E', 'B23001_022E', 'B23001_029E', 'B23001_036E', 'B23001_043E', 'B23001_050E', 'B23001_057E', 'B23001_064E', 'B23001_071E', 'B23001_076E', 'B23001_081E', 'B23001_086E', 'B23001_004E', 'B23001_011E', 'B23001_018E', 'B23001_025E', 'B23001_032E', 'B23001_039E', 'B23001_046E', 'B23001_053E', 'B23001_060E', 'B23001_067E', 'B23001_074E', 'B23001_079E', 'B23001_084E'], 'B23025_002E')
        all_calc_data_nb["Employed Residents"] = calc_sum(df, 'C24050_001E')
        all_calc_data_nb["Managerial Professional"] = calc_normalized(tract_df, 'C24050_015E', 'C24050_001E')
        all_calc_data_nb["Services"] = calc_normalized(tract_df, 'C24050_029E', 'C24050_001E')
        all_calc_data_nb["Sales and Office"] = calc_normalized(tract_df, 'C24050_043E', 'C24050_001E')
        all_calc_data_nb["Natural Resources"] = calc_normalized(tract_df, 'C24050_057E', 'C24050_001E')
        all_calc_data_nb["Production Transport Materials"] = calc_normalized(tract_df, 'C24050_071E', 'C24050_001E')
        # journey to work
        all_calc_data_nb["Workers 16 Years and Older"] = calc_sum(df, 'B08006_001E')
        all_calc_data_nb["Car"] = calc_normalized(tract_df, 'B08006_002E', 'B08006_001E')
        all_calc_data_nb["Drove Alone"] = calc_normalized(tract_df, 'B08006_003E', 'B08006_001E')
        all_calc_data_nb["Carpooled"] = calc_normalized(tract_df, 'B08006_004E', 'B08006_001E')
        all_calc_data_nb["Transit"] = calc_normalized(tract_df, 'B08006_008E', 'B08006_001E')
        all_calc_data_nb["Bike"] = calc_normalized(tract_df, 'B08006_014E', 'B08006_001E')
        all_calc_data_nb["Walk"] = calc_normalized(tract_df, 'B08006_015E', 'B08006_001E')
        all_calc_data_nb["Other"] = calc_normalized(tract_df, 'B08006_016E', 'B08006_001E')
        all_calc_data_nb["Worked at Home"] = calc_normalized(tract_df, 'B08006_017E', 'B08006_001E')
        # population density
        all_calc_data_nb["Population Density per Acre"] = calc_sum(df, 'B01001_001E')
        
        
    #return calc dictionary
    return all_calc_data

In [64]:
# run functions to calculate all stats and convert calc dictionary to pandas dataframe
all_calc_data = calc_socio_economic_data(df, tract_nb_lookup)
df_all_calcs = pd.DataFrame.from_dict(all_calc_data).reset_index()
df_all_calcs.rename(columns = {'index':'Attribute'}, inplace = True) 
df_all_calcs.head()

3680.0
                           name           id  range_start  range_end  \
32  median_year_structure_built  B25034_011E         1939       1939
33  median_year_structure_built  B25034_010E         1940       1949
34  median_year_structure_built  B25034_009E         1950       1959
35  median_year_structure_built  B25034_008E         1960       1969
36  median_year_structure_built  B25034_007E         1970       1979
37  median_year_structure_built  B25034_006E         1980       1989
38  median_year_structure_built  B25034_005E         1990       1999
39  median_year_structure_built  B25034_004E         2000       2009
40  median_year_structure_built  B25034_003E         2010       2013
41  median_year_structure_built  B25034_002E         2014       2014

    households  cumulative_total
32        3693              3693
33         314              4007
34         506              4513
35         541              5054
36         901              5955
37         571              6526
38         448              6974
39         363              7337
40           0              7337
41          23              7360
3148.5
                       name           id  range_start  range_end  households  \
0   median_household_income  B19001_002E            0       9999         447
1   median_household_income  B19001_003E        10000      14999         398
2   median_household_income  B19001_004E        15000      19999         281
3   median_household_income  B19001_005E        20000      24999         252
4   median_household_income  B19001_006E        25000      29999         276
5   median_household_income  B19001_007E        30000      34999         331
6   median_household_income  B19001_008E        35000      39999         214
7   median_household_income  B19001_009E        40000      44999          69
8   median_household_income  B19001_010E        45000      49999         107
9   median_household_income  B19001_011E        50000      59999         124
10  median_household_income  B19001_012E        60000      74999         384
11  median_household_income  B19001_013E        75000      99999         500
12  median_household_income  B19001_014E       100000     124999         603
13  median_household_income  B19001_015E       125000     149999         236
14  median_household_income  B19001_016E       150000     199999         651
15  median_household_income  B19001_017E       200000     250001        1424

    cumulative_total
0                447
1                845
2               1126
3               1378
4               1654
5               1985
6               2199
7               2268
8               2375
9               2499
10              2883
11              3383
12              3986
13              4222
14              4873
15              6297
1251.0
                    name           id  range_start  range_end  households  \
16  median_family_income  B19101_002E            0       9999          81
17  median_family_income  B19101_003E        10000      14999          96
18  median_family_income  B19101_004E        15000      19999         206
19  median_family_income  B19101_005E        20000      24999          52
20  median_family_income  B19101_006E        25000      29999         138
21  median_family_income  B19101_007E        30000      34999         190
22  median_family_income  B19101_008E        35000      39999          95
23  median_family_income  B19101_009E        40000      44999          25
24  median_family_income  B19101_010E        45000      49999          28
25  median_family_income  B19101_011E        50000      59999          74
26  median_family_income  B19101_012E        60000      74999         135
27  median_family_income  B19101_013E        75000      99999         226
28  median_family_income  B19101_014E       100000     124999         245
29  median_family_income  B19101_015E       125000     149999         104
30  median_family_income  B19101_016E       150000     199999         218
31  median_family_income  B19101_017E       200000     250001         589

    cumulative_total
16                81
17               177
18               383
19               435
20               573
21               763
22               858
23               883
24               911
25               985
26              1120
27              1346
28              1591
29              1695
30              1913
31              2502
5572.5
                           name           id  range_start  range_end  \
32  median_year_structure_built  B25034_011E         1939       1939
33  median_year_structure_built  B25034_010E         1940       1949
34  median_year_structure_built  B25034_009E         1950       1959
35  median_year_structure_built  B25034_008E         1960       1969
36  median_year_structure_built  B25034_007E         1970       1979
37  median_year_structure_built  B25034_006E         1980       1989
38  median_year_structure_built  B25034_005E         1990       1999
39  median_year_structure_built  B25034_004E         2000       2009
40  median_year_structure_built  B25034_003E         2010       2013
41  median_year_structure_built  B25034_002E         2014       2014

    households  cumulative_total
32        6426              6426
33         408              6834
34         837              7671
35        1173              8844
36         635              9479
37         754             10233
38         315             10548
39         203             10751
40         183             10934
41         211             11145
4818.0
                       name           id  range_start  range_end  households  \
0   median_household_income  B19001_002E            0       9999         280
1   median_household_income  B19001_003E        10000      14999         328
2   median_household_income  B19001_004E        15000      19999         229
3   median_household_income  B19001_005E        20000      24999         275
4   median_household_income  B19001_006E        25000      29999         217
5   median_household_income  B19001_007E        30000      34999         336
6   median_household_income  B19001_008E        35000      39999         185
7   median_household_income  B19001_009E        40000      44999         177
8   median_household_income  B19001_010E        45000      49999          92
9   median_household_income  B19001_011E        50000      59999         279
10  median_household_income  B19001_012E        60000      74999         481
11  median_household_income  B19001_013E        75000      99999         695
12  median_household_income  B19001_014E       100000     124999         707
13  median_household_income  B19001_015E       125000     149999         693
14  median_household_income  B19001_016E       150000     199999        1370
15  median_household_income  B19001_017E       200000     250001        3292

    cumulative_total
0                280
1                608
2                837
3               1112
4               1329
5               1665
6               1850
7               2027
8               2119
9               2398
10              2879
11              3574
12              4281
13              4974
14              6344
15              9636
1762.5
                    name           id  range_start  range_end  households  \
16  median_family_income  B19101_002E            0       9999          56
17  median_family_income  B19101_003E        10000      14999          40
18  median_family_income  B19101_004E        15000      19999          71
19  median_family_income  B19101_005E        20000      24999         148
20  median_family_income  B19101_006E        25000      29999          44
21  median_family_income  B19101_007E        30000      34999         148
22  median_family_income  B19101_008E        35000      39999          14
23  median_family_income  B19101_009E        40000      44999         108
24  median_family_income  B19101_010E        45000      49999          44
25  median_family_income  B19101_011E        50000      59999          75
26  median_family_income  B19101_012E        60000      74999         146
27  median_family_income  B19101_013E        75000      99999         274
28  median_family_income  B19101_014E       100000     124999         219
29  median_family_income  B19101_015E       125000     149999         204
30  median_family_income  B19101_016E       150000     199999         566
31  median_family_income  B19101_017E       200000     250001        1368

    cumulative_total
16                56
17                96
18               167
19               315
20               359
21               507
22               521
23               629
24               673
25               748
26               894
27              1168
28              1387
29              1591
30              2157
31              3525
7229.5
                           name           id  range_start  range_end  \
32  median_year_structure_built  B25034_011E         1939       1939
33  median_year_structure_built  B25034_010E         1940       1949
34  median_year_structure_built  B25034_009E         1950       1959
35  median_year_structure_built  B25034_008E         1960       1969
36  median_year_structure_built  B25034_007E         1970       1979
37  median_year_structure_built  B25034_006E         1980       1989
38  median_year_structure_built  B25034_005E         1990       1999
39  median_year_structure_built  B25034_004E         2000       2009
40  median_year_structure_built  B25034_003E         2010       2013
41  median_year_structure_built  B25034_002E         2014       2014

    households  cumulative_total
32        1511              1511
33         149              1660
34         252              1912
35         982              2894
36         786              3680
37        1394              5074
38        1522              6596
39        5342             11938
40        1278             13216
41        1243             14459
5648.5
                       name           id  range_start  range_end  households  \
0   median_household_income  B19001_002E            0       9999         362
1   median_household_income  B19001_003E        10000      14999         206
2   median_household_income  B19001_004E        15000      19999         348
3   median_household_income  B19001_005E        20000      24999         191
4   median_household_income  B19001_006E        25000      29999         152
5   median_household_income  B19001_007E        30000      34999         209
6   median_household_income  B19001_008E        35000      39999          77
7   median_household_income  B19001_009E        40000      44999         167
8   median_household_income  B19001_010E        45000      49999         186
9   median_household_income  B19001_011E        50000      59999         308
10  median_household_income  B19001_012E        60000      74999         256
11  median_household_income  B19001_013E        75000      99999         880
12  median_household_income  B19001_014E       100000     124999         536
13  median_household_income  B19001_015E       125000     149999         938
14  median_household_income  B19001_016E       150000     199999        1232
15  median_household_income  B19001_017E       200000     250001        5249

    cumulative_total
0                362
1                568
2                916
3               1107
4               1259
5               1468
6               1545
7               1712
8               1898
9               2206
10              2462
11              3342
12              3878
13              4816
14              6048
15             11297
2105.5
                    name           id  range_start  range_end  households  \
16  median_family_income  B19101_002E            0       9999          16
17  median_family_income  B19101_003E        10000      14999          66
18  median_family_income  B19101_004E        15000      19999         136
19  median_family_income  B19101_005E        20000      24999          30
20  median_family_income  B19101_006E        25000      29999          53
21  median_family_income  B19101_007E        30000      34999          49
22  median_family_income  B19101_008E        35000      39999          19
23  median_family_income  B19101_009E        40000      44999          21
24  median_family_income  B19101_010E        45000      49999         159
25  median_family_income  B19101_011E        50000      59999         143
26  median_family_income  B19101_012E        60000      74999          80
27  median_family_income  B19101_013E        75000      99999          97
28  median_family_income  B19101_014E       100000     124999         189
29  median_family_income  B19101_015E       125000     149999         279
30  median_family_income  B19101_016E       150000     199999         312
31  median_family_income  B19101_017E       200000     250001        2562

    cumulative_total
16                16
17                82
18               218
19               248
20               301
21               350
22               369
23               390
24               549
25               692
26               772
27               869
28              1058
29              1337
30              1649
31              4211
3814.0
                           name           id  range_start  range_end  \
32  median_year_structure_built  B25034_011E         1939       1939
33  median_year_structure_built  B25034_010E         1940       1949
34  median_year_structure_built  B25034_009E         1950       1959
35  median_year_structure_built  B25034_008E         1960       1969
36  median_year_structure_built  B25034_007E         1970       1979
37  median_year_structure_built  B25034_006E         1980       1989
38  median_year_structure_built  B25034_005E         1990       1999
39  median_year_structure_built  B25034_004E         2000       2009
40  median_year_structure_built  B25034_003E         2010       2013
41  median_year_structure_built  B25034_002E         2014       2014

    households  cumulative_total
32        5234              5234
33         364              5598
34         238              5836
35         639              6475
36         381              6856
37         421              7277
38         150              7427
39         162              7589
40          23              7612
41          16              7628
3453.5
                       name           id  range_start  range_end  households  \
0   median_household_income  B19001_002E            0       9999         845
1   median_household_income  B19001_003E        10000      14999        1230
2   median_household_income  B19001_004E        15000      19999         724
3   median_household_income  B19001_005E        20000      24999         635
4   median_household_income  B19001_006E        25000      29999         382
5   median_household_income  B19001_007E        30000      34999         227
6   median_household_income  B19001_008E        35000      39999         262
7   median_household_income  B19001_009E        40000      44999         205
8   median_household_income  B19001_010E        45000      49999         134
9   median_household_income  B19001_011E        50000      59999         366
10  median_household_income  B19001_012E        60000      74999         360
11  median_household_income  B19001_013E        75000      99999         373
12  median_household_income  B19001_014E       100000     124999         291
13  median_household_income  B19001_015E       125000     149999         253
14  median_household_income  B19001_016E       150000     199999         154
15  median_household_income  B19001_017E       200000     250001         466

    cumulative_total
0                845
1               2075
2               2799
3               3434
4               3816
5               4043
6               4305
7               4510
8               4644
9               5010
10              5370
11              5743
12              6034
13              6287
14              6441
15              6907
1806.0
                    name           id  range_start  range_end  households  \
16  median_family_income  B19101_002E            0       9999         269
17  median_family_income  B19101_003E        10000      14999         177
18  median_family_income  B19101_004E        15000      19999         513
19  median_family_income  B19101_005E        20000      24999         415
20  median_family_income  B19101_006E        25000      29999         316
21  median_family_income  B19101_007E        30000      34999         209
22  median_family_income  B19101_008E        35000      39999         153
23  median_family_income  B19101_009E        40000      44999         103
24  median_family_income  B19101_010E        45000      49999          92
25  median_family_income  B19101_011E        50000      59999         255
26  median_family_income  B19101_012E        60000      74999         221
27  median_family_income  B19101_013E        75000      99999         260
28  median_family_income  B19101_014E       100000     124999         168
29  median_family_income  B19101_015E       125000     149999         163
30  median_family_income  B19101_016E       150000     199999          47
31  median_family_income  B19101_017E       200000     250001         251

    cumulative_total
16               269
17               446
18               959
19              1374
20              1690
21              1899
22              2052
23              2155
24              2247
25              2502
26              2723
27              2983
28              3151
29              3314
30              3361
31              3612
8728.0
                           name           id  range_start  range_end  \
32  median_year_structure_built  B25034_011E         1939       1939
33  median_year_structure_built  B25034_010E         1940       1949
34  median_year_structure_built  B25034_009E         1950       1959
35  median_year_structure_built  B25034_008E         1960       1969
36  median_year_structure_built  B25034_007E         1970       1979
37  median_year_structure_built  B25034_006E         1980       1989
38  median_year_structure_built  B25034_005E         1990       1999
39  median_year_structure_built  B25034_004E         2000       2009
40  median_year_structure_built  B25034_003E         2010       2013
41  median_year_structure_built  B25034_002E         2014       2014

    households  cumulative_total
32       11124             11124
33         961             12085
34         917             13002
35        1790             14792
36        1072             15864
37         545             16409
38         488             16897
39         290             17187
40         214             17401
41          55             17456
7623.5
                       name           id  range_start  range_end  households  \
0   median_household_income  B19001_002E            0       9999        1010
1   median_household_income  B19001_003E        10000      14999         839
2   median_household_income  B19001_004E        15000      19999         330
3   median_household_income  B19001_005E        20000      24999         431
4   median_household_income  B19001_006E        25000      29999         401
5   median_household_income  B19001_007E        30000      34999         327
6   median_household_income  B19001_008E        35000      39999         222
7   median_household_income  B19001_009E        40000      44999         371
8   median_household_income  B19001_010E        45000      49999         380
9   median_household_income  B19001_011E        50000      59999         964
10  median_household_income  B19001_012E        60000      74999        1240
11  median_household_income  B19001_013E        75000      99999        1723
12  median_household_income  B19001_014E       100000     124999        1626

2068.0
                    name           id  range_start  range_end  households  \
16  median_family_income  B19101_002E            0       9999         126
17  median_family_income  B19101_003E        10000      14999         171
18  median_family_income  B19101_004E        15000      19999         134
19  median_family_income  B19101_005E        20000      24999         348
20  median_family_income  B19101_006E        25000      29999         142
21  median_family_income  B19101_007E        30000      34999         219
22  median_family_income  B19101_008E        35000      39999         254
23  median_family_income  B19101_009E        40000      44999         184
24  median_family_income  B19101_010E        45000      49999         217
25  median_family_income  B19101_011E        50000      59999         251
26  median_family_income  B19101_012E        60000      74999         454
27  median_family_income  B19101_013E        75000      99999         343
28  median_family_income  B19101_014E       100000     124999         608
29  median_family_income  B19101_015E       125000     149999         170
30  median_family_income  B19101_016E       150000     199999         258
31  median_family_income  B19101_017E       200000     250001         257

    cumulative_total
16               126
17               297
18               431
19               779
20               921
21              1140
22              1394
23              1578
24              1795
25              2046
26              2500
27              2843
28              3451
29              3621
30              3879
31              4136
7393.0
                           name           id  range_start  range_end  \
32  median_year_structure_built  B25034_011E         1939       1939
33  median_year_structure_built  B25034_010E         1940       1949
34  median_year_structure_built  B25034_009E         1950       1959
35  median_year_structure_built  B25034_008E         1960       1969
36  median_year_structure_built  B25034_007E         1970       1979
37  median_year_structure_built  B25034_006E         1980       1989
38  median_year_structure_built  B25034_005E         1990       1999
39  median_year_structure_built  B25034_004E         2000       2009
40  median_year_structure_built  B25034_003E         2010       2013
41  median_year_structure_built  B25034_002E         2014       2014

    households  cumulative_total
32        8355              8355
33        1178              9533
34        1354             10887
35        1441             12328
36        1293             13621
37         606             14227
38         285             14512
39         217             14729
40          30             14759
41          27             14786
6791.5
                       name           id  range_start  range_end  households  \
0   median_household_income  B19001_002E            0       9999         397
1   median_household_income  B19001_003E        10000      14999         137
2   median_household_income  B19001_004E        15000      19999         203
3   median_household_income  B19001_005E        20000      24999         220
4   median_household_income  B19001_006E        25000      29999         144
5   median_household_income  B19001_007E        30000      34999         203
6   median_household_income  B19001_008E        35000      39999         140
7   median_household_income  B19001_009E        40000      44999         269
8   median_household_income  B19001_010E        45000      49999          88
9   median_household_income  B19001_011E        50000      59999         310
10  median_household_income  B19001_012E        60000      74999         709
11  median_household_income  B19001_013E        75000      99999         977
12  median_household_income  B19001_014E       100000     124999        1287
13  median_household_income  B19001_015E       125000     149999        1078
14  median_household_income  B19001_016E       150000     199999        2093
15  median_household_income  B19001_017E       200000     250001        5328

    cumulative_total
0                397
1                534
2                737
3                957
4               1101
5               1304
6               1444
7               1713
8               1801
9               2111
10              2820
11              3797
12              5084
13              6162
14              8255
15             13583
2102.5
                    name           id  range_start  range_end  households  \
16  median_family_income  B19101_002E            0       9999          30
17  median_family_income  B19101_003E        10000      14999          50
18  median_family_income  B19101_004E        15000      19999           0
19  median_family_income  B19101_005E        20000      24999          62
20  median_family_income  B19101_006E        25000      29999           0
21  median_family_income  B19101_007E        30000      34999           0
22  median_family_income  B19101_008E        35000      39999          69
23  median_family_income  B19101_009E        40000      44999         101
24  median_family_income  B19101_010E        45000      49999          15
25  median_family_income  B19101_011E        50000      59999          53
26  median_family_income  B19101_012E        60000      74999         191
27  median_family_income  B19101_013E        75000      99999         155
28  median_family_income  B19101_014E       100000     124999         241
29  median_family_income  B19101_015E       125000     149999         297
30  median_family_income  B19101_016E       150000     199999         471
31  median_family_income  B19101_017E       200000     250001        2470

    cumulative_total
16                30
17                80
18                80
19               142
20               142
21               142
22               211
23               312
24               327
25               380
26               571
27               726
28               967
29              1264
30              1735
31              4205
7387.0
                           name           id  range_start  range_end  \
32  median_year_structure_built  B25034_011E         1939       1939
33  median_year_structure_built  B25034_010E         1940       1949
34  median_year_structure_built  B25034_009E         1950       1959
35  median_year_structure_built  B25034_008E         1960       1969
36  median_year_structure_built  B25034_007E         1970       1979
37  median_year_structure_built  B25034_006E         1980       1989
38  median_year_structure_built  B25034_005E         1990       1999
39  median_year_structure_built  B25034_004E         2000       2009
40  median_year_structure_built  B25034_003E         2010       2013
41  median_year_structure_built  B25034_002E         2014       2014

    households  cumulative_total
32        8409              8409
33         749              9158
34         837              9995
35        1704             11699
36        1621             13320
37         417             13737
38         434             14171
39         379             14550
40          62             14612
41         162             14774
6407.5
                       name           id  range_start  range_end  households  \
0   median_household_income  B19001_002E            0       9999         589
1   median_household_income  B19001_003E        10000      14999         285
2   median_household_income  B19001_004E        15000      19999         257
3   median_household_income  B19001_005E        20000      24999         192
4   median_household_income  B19001_006E        25000      29999         246
5   median_household_income  B19001_007E        30000      34999         262
6   median_household_income  B19001_008E        35000      39999         195
7   median_household_income  B19001_009E        40000      44999         161
8   median_household_income  B19001_010E        45000      49999         178
9   median_household_income  B19001_011E        50000      59999         325
10  median_household_income  B19001_012E        60000      74999         503
11  median_household_income  B19001_013E        75000      99999         839
12  median_household_income  B19001_014E       100000     124999         977
13  median_household_income  B19001_015E       125000     149999         798
14  median_household_income  B19001_016E       150000     199999        1579
15  median_household_income  B19001_017E       200000     250001        5429

    cumulative_total
0                589
1                874
2               1131
3               1323
4               1569
5               1831
6               2026
7               2187
8               2365
9               2690
10              3193
11              4032
12              5009
13              5807
14              7386
15             12815
2266.5
                    name           id  range_start  range_end  households  \
16  median_family_income  B19101_002E            0       9999          87
17  median_family_income  B19101_003E        10000      14999           9
18  median_family_income  B19101_004E        15000      19999           0
19  median_family_income  B19101_005E        20000      24999          43
20  median_family_income  B19101_006E        25000      29999           9
21  median_family_income  B19101_007E        30000      34999          36
22  median_family_income  B19101_008E        35000      39999          48
23  median_family_income  B19101_009E        40000      44999          46
24  median_family_income  B19101_010E        45000      49999          57
25  median_family_income  B19101_011E        50000      59999          81
26  median_family_income  B19101_012E        60000      74999          88
27  median_family_income  B19101_013E        75000      99999         220
28  median_family_income  B19101_014E       100000     124999         262
29  median_family_income  B19101_015E       125000     149999         285
30  median_family_income  B19101_016E       150000     199999         503
31  median_family_income  B19101_017E       200000     250001        2759

    cumulative_total
16                87
17                96
18                96
19               139
20               148
21               184
22               232
23               278
24               335
25               416
26               504
27               724
28               986
29              1271
30              1774
31              4533
2619.0
                           name           id  range_start  range_end  \
32  median_year_structure_built  B25034_011E         1939       1939
33  median_year_structure_built  B25034_010E         1940       1949
34  median_year_structure_built  B25034_009E         1950       1959
35  median_year_structure_built  B25034_008E         1960       1969
36  median_year_structure_built  B25034_007E         1970       1979
37  median_year_structure_built  B25034_006E         1980       1989
38  median_year_structure_built  B25034_005E         1990       1999
39  median_year_structure_built  B25034_004E         2000       2009
40  median_year_structure_built  B25034_003E         2010       2013
41  median_year_structure_built  B25034_002E         2014       2014

    households  cumulative_total
32        3001              3001
33         418              3419
34         475              3894
35         292              4186
36         382              4568
37         399              4967
38          83              5050
39         167              5217
40           9              5226
41          12              5238
2402.5
                       name           id  range_start  range_end  households  \
0   median_household_income  B19001_002E            0       9999         223
1   median_household_income  B19001_003E        10000      14999         192
2   median_household_income  B19001_004E        15000      19999         110
3   median_household_income  B19001_005E        20000      24999          29
4   median_household_income  B19001_006E        25000      29999          74
5   median_household_income  B19001_007E        30000      34999          76
6   median_household_income  B19001_008E        35000      39999         192
7   median_household_income  B19001_009E        40000      44999         108
8   median_household_income  B19001_010E        45000      49999          72
9   median_household_income  B19001_011E        50000      59999          66
10  median_household_income  B19001_012E        60000      74999         172
11  median_household_income  B19001_013E        75000      99999         407
12  median_household_income  B19001_014E       100000     124999         377
13  median_household_income  B19001_015E       125000     149999         313
14  median_household_income  B19001_016E       150000     199999         431
15  median_household_income  B19001_017E       200000     250001        1963

    cumulative_total
0                223
1                415
2                525
3                554
4                628
5                704
6                896
7               1004
8               1076
9               1142
10              1314
11              1721
12              2098
13              2411
14              2842
15              4805
1131.0
                    name           id  range_start  range_end  households  \
16  median_family_income  B19101_002E            0       9999          39
17  median_family_income  B19101_003E        10000      14999           0
18  median_family_income  B19101_004E        15000      19999          63
19  median_family_income  B19101_005E        20000      24999          22
20  median_family_income  B19101_006E        25000      29999          29
21  median_family_income  B19101_007E        30000      34999           0
22  median_family_income  B19101_008E        35000      39999          44
23  median_family_income  B19101_009E        40000      44999          49
24  median_family_income  B19101_010E        45000      49999           0
25  median_family_income  B19101_011E        50000      59999          21
26  median_family_income  B19101_012E        60000      74999          43
27  median_family_income  B19101_013E        75000      99999         169
28  median_family_income  B19101_014E       100000     124999         145
29  median_family_income  B19101_015E       125000     149999         115
30  median_family_income  B19101_016E       150000     199999         165
31  median_family_income  B19101_017E       200000     250001        1358

    cumulative_total
16                39
17                39
18               102
19               124
20               153
21               153
22               197
23               246
24               246
25               267
26               310
27               479
28               624
29               739
30               904
31              2262
6558.5
                           name           id  range_start  range_end  \
32  median_year_structure_built  B25034_011E         1939       1939
33  median_year_structure_built  B25034_010E         1940       1949
34  median_year_structure_built  B25034_009E         1950       1959
35  median_year_structure_built  B25034_008E         1960       1969
36  median_year_structure_built  B25034_007E         1970       1979
37  median_year_structure_built  B25034_006E         1980       1989
38  median_year_structure_built  B25034_005E         1990       1999
39  median_year_structure_built  B25034_004E         2000       2009
40  median_year_structure_built  B25034_003E         2010       2013
41  median_year_structure_built  B25034_002E         2014       2014

    households  cumulative_total
32        3358              3358
33         321              3679
34         513              4192
35        2229              6421
36        1688              8109
37        2046             10155
38        1566             11721
39         893             12614
40         236             12850
41         267             13117
5838.5
                       name           id  range_start  range_end  households  \
0   median_household_income  B19001_002E            0       9999         774
1   median_household_income  B19001_003E        10000      14999        1066
2   median_household_income  B19001_004E        15000      19999         712
3   median_household_income  B19001_005E        20000      24999         633
4   median_household_income  B19001_006E        25000      29999         551
5   median_household_income  B19001_007E        30000      34999         336
6   median_household_income  B19001_008E        35000      39999         200
7   median_household_income  B19001_009E        40000      44999         284
8   median_household_income  B19001_010E        45000      49999         123
9   median_household_income  B19001_011E        50000      59999         258
10  median_household_income  B19001_012E        60000      74999         847
11  median_household_income  B19001_013E        75000      99999        1100
12  median_household_income  B19001_014E       100000     124999         889
13  median_household_income  B19001_015E       125000     149999         523
14  median_household_income  B19001_016E       150000     199999        1150
15  median_household_income  B19001_017E       200000     250001        2231

    cumulative_total
0                774
1               1840
2               2552
3               3185
4               3736
5               4072
6               4272
7               4556
8               4679
9               4937
10              5784
11              6884
12              7773
13              8296
14              9446
15             11677
2045.5
                    name           id  range_start  range_end  households  \
16  median_family_income  B19101_002E            0       9999         182
17  median_family_income  B19101_003E        10000      14999          32
18  median_family_income  B19101_004E        15000      19999         323
19  median_family_income  B19101_005E        20000      24999         194
20  median_family_income  B19101_006E        25000      29999         293
21  median_family_income  B19101_007E        30000      34999         116
22  median_family_income  B19101_008E        35000      39999         103
23  median_family_income  B19101_009E        40000      44999         147
24  median_family_income  B19101_010E        45000      49999           0
25  median_family_income  B19101_011E        50000      59999         114
26  median_family_income  B19101_012E        60000      74999         377
27  median_family_income  B19101_013E        75000      99999         468
28  median_family_income  B19101_014E       100000     124999         310
29  median_family_income  B19101_015E       125000     149999         208
30  median_family_income  B19101_016E       150000     199999         384
31  median_family_income  B19101_017E       200000     250001         840

    cumulative_total
16               182
17               214
18               537
19               731
20              1024
21              1140
22              1243
23              1390
24              1390
25              1504
26              1881
27              2349
28              2659
29              2867
30              3251
31              4091
1267.5
                           name           id  range_start  range_end  \
32  median_year_structure_built  B25034_011E         1939       1939
33  median_year_structure_built  B25034_010E         1940       1949
34  median_year_structure_built  B25034_009E         1950       1959
35  median_year_structure_built  B25034_008E         1960       1969
36  median_year_structure_built  B25034_007E         1970       1979
37  median_year_structure_built  B25034_006E         1980       1989
38  median_year_structure_built  B25034_005E         1990       1999

                    name           id  range_start  range_end  households  \
16  median_family_income  B19101_002E            0       9999           0
17  median_family_income  B19101_003E        10000      14999           0
18  median_family_income  B19101_004E        15000      19999          55
19  median_family_income  B19101_005E        20000      24999           0
20  median_family_income  B19101_006E        25000      29999           0
21  median_family_income  B19101_007E        30000      34999          19
22  median_family_income  B19101_008E        35000      39999           0
23  median_family_income  B19101_009E        40000      44999           0
24  median_family_income  B19101_010E        45000      49999           0
25  median_family_income  B19101_011E        50000      59999          18
26  median_family_income  B19101_012E        60000      74999          14
27  median_family_income  B19101_013E        75000      99999           9
28  median_family_income  B19101_014E       100000     124999          45
29  median_family_income  B19101_015E       125000     149999          16
30  median_family_income  B19101_016E       150000     199999         148
31  median_family_income  B19101_017E       200000     250001         191

    cumulative_total
16                 0
17                 0
18                55
19                55
20                55
21                74
22                74
23                74
24                74
25                92
26               106
27               115
28               160
29               176
30               324
31               515
3450.0
                           name           id  range_start  range_end  \
32  median_year_structure_built  B25034_011E         1939       1939
33  median_year_structure_built  B25034_010E         1940       1949
34  median_year_structure_built  B25034_009E         1950       1959
35  median_year_structure_built  B25034_008E         1960       1969
36  median_year_structure_built  B25034_007E         1970       1979
37  median_year_structure_built  B25034_006E         1980       1989
38  median_year_structure_built  B25034_005E         1990       1999
39  median_year_structure_built  B25034_004E         2000       2009
40  median_year_structure_built  B25034_003E         2010       2013
41  median_year_structure_built  B25034_002E         2014       2014

    households  cumulative_total
32        3755              3755
33         487              4242
34         600              4842
35         414              5256
36         379              5635
37         363              5998
38         364              6362
39         365              6727
40         144              6871
41          29              6900
3171.0
                       name           id  range_start  range_end  households  \
0   median_household_income  B19001_002E            0       9999         128
1   median_household_income  B19001_003E        10000      14999         238
2   median_household_income  B19001_004E        15000      19999         142
3   median_household_income  B19001_005E        20000      24999         259
4   median_household_income  B19001_006E        25000      29999         110
5   median_household_income  B19001_007E        30000      34999         169
6   median_household_income  B19001_008E        35000      39999          74
7   median_household_income  B19001_009E        40000      44999          96
8   median_household_income  B19001_010E        45000      49999          55
9   median_household_income  B19001_011E        50000      59999         224
10  median_household_income  B19001_012E        60000      74999         305
11  median_household_income  B19001_013E        75000      99999         601
12  median_household_income  B19001_014E       100000     124999         670
13  median_household_income  B19001_015E       125000     149999         296
14  median_household_income  B19001_016E       150000     199999        1084
15  median_household_income  B19001_017E       200000     250001        1891

    cumulative_total
0                128
1                366
2                508
3                767
4                877
5               1046
6               1120
7               1216
8               1271
9               1495
10              1800
11              2401
12              3071
13              3367
14              4451
15              6342
1343.5
                    name           id  range_start  range_end  households  \
16  median_family_income  B19101_002E            0       9999          31
17  median_family_income  B19101_003E        10000      14999           0
18  median_family_income  B19101_004E        15000      19999          88
19  median_family_income  B19101_005E        20000      24999         114
20  median_family_income  B19101_006E        25000      29999          59
21  median_family_income  B19101_007E        30000      34999          58
22  median_family_income  B19101_008E        35000      39999          29
23  median_family_income  B19101_009E        40000      44999          55
24  median_family_income  B19101_010E        45000      49999          39
25  median_family_income  B19101_011E        50000      59999         131
26  median_family_income  B19101_012E        60000      74999         118
27  median_family_income  B19101_013E        75000      99999         231
28  median_family_income  B19101_014E       100000     124999         273
29  median_family_income  B19101_015E       125000     149999          92
30  median_family_income  B19101_016E       150000     199999         326
31  median_family_income  B19101_017E       200000     250001        1043

    cumulative_total
16                31
17                31
18               119
19               233
20               292
21               350
22               379
23               434
24               473
25               604
26               722
27               953
28              1226
29              1318
30              1644
31              2687
5320.5
                           name           id  range_start  range_end  \
32  median_year_structure_built  B25034_011E         1939       1939
33  median_year_structure_built  B25034_010E         1940       1949
34  median_year_structure_built  B25034_009E         1950       1959
35  median_year_structure_built  B25034_008E         1960       1969
36  median_year_structure_built  B25034_007E         1970       1979
37  median_year_structure_built  B25034_006E         1980       1989
38  median_year_structure_built  B25034_005E         1990       1999
39  median_year_structure_built  B25034_004E         2000       2009
40  median_year_structure_built  B25034_003E         2010       2013
41  median_year_structure_built  B25034_002E         2014       2014

    households  cumulative_total
32        6051              6051
33         331              6382
34         591              6973
35         446              7419
36         732              8151
37         379              8530
38         425              8955
39         735              9690
40         467             10157
41         484             10641
4826.0
                       name           id  range_start  range_end  households  \
0   median_household_income  B19001_002E            0       9999         365
1   median_household_income  B19001_003E        10000      14999         381
2   median_household_income  B19001_004E        15000      19999         205
3   median_household_income  B19001_005E        20000      24999         226
4   median_household_income  B19001_006E        25000      29999         191
5   median_household_income  B19001_007E        30000      34999         303
6   median_household_income  B19001_008E        35000      39999          98
7   median_household_income  B19001_009E        40000      44999         147
8   median_household_income  B19001_010E        45000      49999         115
9   median_household_income  B19001_011E        50000      59999         198
10  median_household_income  B19001_012E        60000      74999         486
11  median_household_income  B19001_013E        75000      99999         998
12  median_household_income  B19001_014E       100000     124999         734
13  median_household_income  B19001_015E       125000     149999         731
14  median_household_income  B19001_016E       150000     199999        1289
15  median_household_income  B19001_017E       200000     250001        3185

    cumulative_total
0                365
1                746
2                951
3               1177
4               1368
5               1671
6               1769
7               1916
8               2031
9               2229
10              2715
11              3713
12              4447
13              5178
14              6467
15              9652
1453.0
                    name           id  range_start  range_end  households  \
16  median_family_income  B19101_002E            0       9999          74
17  median_family_income  B19101_003E        10000      14999          21
18  median_family_income  B19101_004E        15000      19999          44
19  median_family_income  B19101_005E        20000      24999          31
20  median_family_income  B19101_006E        25000      29999          29
21  median_family_income  B19101_007E        30000      34999          26
22  median_family_income  B19101_008E        35000      39999           0
23  median_family_income  B19101_009E        40000      44999          25
24  median_family_income  B19101_010E        45000      49999          39
25  median_family_income  B19101_011E        50000      59999          61
26  median_family_income  B19101_012E        60000      74999         177
27  median_family_income  B19101_013E        75000      99999         201
28  median_family_income  B19101_014E       100000     124999         195
29  median_family_income  B19101_015E       125000     149999         347
30  median_family_income  B19101_016E       150000     199999         474
31  median_family_income  B19101_017E       200000     250001        1162

    cumulative_total
16                74
17                95
18               139
19               170
20               199
21               225
22               225
23               250
24               289
25               350
26               527
27               728
28               923
29              1270
30              1744
31              2906
4534.0
                           name           id  range_start  range_end  \
32  median_year_structure_built  B25034_011E         1939       1939
33  median_year_structure_built  B25034_010E         1940       1949
34  median_year_structure_built  B25034_009E         1950       1959
35  median_year_structure_built  B25034_008E         1960       1969
36  median_year_structure_built  B25034_007E         1970       1979
37  median_year_structure_built  B25034_006E         1980       1989
38  median_year_structure_built  B25034_005E         1990       1999
39  median_year_structure_built  B25034_004E         2000       2009
40  median_year_structure_built  B25034_003E         2010       2013
41  median_year_structure_built  B25034_002E         2014       2014

    households  cumulative_total
32        7362              7362
33         222              7584
34         423              8007
35         281              8288
36         241              8529
37         286              8815
38         133              8948
39         120              9068
40           0              9068
41           0              9068
4111.5
                       name           id  range_start  range_end  households  \
0   median_household_income  B19001_002E            0       9999         235
1   median_household_income  B19001_003E        10000      14999          65
2   median_household_income  B19001_004E        15000      19999          66
3   median_household_income  B19001_005E        20000      24999         220
4   median_household_income  B19001_006E        25000      29999         135
5   median_household_income  B19001_007E        30000      34999          90
6   median_household_income  B19001_008E        35000      39999         111
7   median_household_income  B19001_009E        40000      44999         115
8   median_household_income  B19001_010E        45000      49999          60
9   median_household_income  B19001_011E        50000      59999         262
10  median_household_income  B19001_012E        60000      74999         410
11  median_household_income  B19001_013E        75000      99999         420
12  median_household_income  B19001_014E       100000     124999         542
13  median_household_income  B19001_015E       125000     149999         790
14  median_household_income  B19001_016E       150000     199999        1313
15  median_household_income  B19001_017E       200000     250001        3389

    cumulative_total
0                235
1                300
2                366
3                586
4                721
5                811
6                922
7               1037
8               1097
9               1359
10              1769
11              2189
12              2731
13              3521
14              4834
15              8223
1767.0
                    name           id  range_start  range_end  households  \
16  median_family_income  B19101_002E            0       9999          10
17  median_family_income  B19101_003E        10000      14999           0
18  median_family_income  B19101_004E        15000      19999          16
19  median_family_income  B19101_005E        20000      24999          16
20  median_family_income  B19101_006E        25000      29999          44
21  median_family_income  B19101_007E        30000      34999          51
22  median_family_income  B19101_008E        35000      39999          14
23  median_family_income  B19101_009E        40000      44999          16
24  median_family_income  B19101_010E        45000      49999          88
25  median_family_income  B19101_011E        50000      59999          69
26  median_family_income  B19101_012E        60000      74999         183
27  median_family_income  B19101_013E        75000      99999         160
28  median_family_income  B19101_014E       100000     124999         173
29  median_family_income  B19101_015E       125000     149999         367
30  median_family_income  B19101_016E       150000     199999         524
31  median_family_income  B19101_017E       200000     250001        1803

    cumulative_total
16                10
17                10
18                26
19                42
20                86
21               137
22               151
23               167
24               255
25               324
26               507
27               667
28               840
29              1207
30              1731
31              3534
6221.5
                           name           id  range_start  range_end  \
32  median_year_structure_built  B25034_011E         1939       1939
33  median_year_structure_built  B25034_010E         1940       1949
34  median_year_structure_built  B25034_009E         1950       1959
35  median_year_structure_built  B25034_008E         1960       1969
36  median_year_structure_built  B25034_007E         1970       1979
37  median_year_structure_built  B25034_006E         1980       1989
38  median_year_structure_built  B25034_005E         1990       1999
39  median_year_structure_built  B25034_004E         2000       2009
40  median_year_structure_built  B25034_003E         2010       2013
41  median_year_structure_built  B25034_002E         2014       2014

    households  cumulative_total
32        7513              7513
33         603              8116
34        1020              9136
35        1156             10292
36         764             11056
37         554             11610
38         322             11932
39         301             12233
40          91             12324
41         119             12443
5665.0
                       name           id  range_start  range_end  households  \
0   median_household_income  B19001_002E            0       9999         209
1   median_household_income  B19001_003E        10000      14999         422
2   median_household_income  B19001_004E        15000      19999         171
3   median_household_income  B19001_005E        20000      24999         106
4   median_household_income  B19001_006E        25000      29999         196
5   median_household_income  B19001_007E        30000      34999         181
6   median_household_income  B19001_008E        35000      39999         164
7   median_household_income  B19001_009E        40000      44999         250
8   median_household_income  B19001_010E        45000      49999          79
9   median_household_income  B19001_011E        50000      59999         373
10  median_household_income  B19001_012E        60000      74999         412
11  median_household_income  B19001_013E        75000      99999        1037
12  median_household_income  B19001_014E       100000     124999         858
13  median_household_income  B19001_015E       125000     149999         804
14  median_household_income  B19001_016E       150000     199999        1605
15  median_household_income  B19001_017E       200000     250001        4463

    cumulative_total
0                209
1                631
2                802
3                908
4               1104
5               1285
6               1449
7               1699
8               1778
9               2151
10              2563
11              3600
12              4458
13              5262
14              6867
15             11330
1993.5
                    name           id  range_start  range_end  households  \
16  median_family_income  B19101_002E            0       9999          33
17  median_family_income  B19101_003E        10000      14999          13
18  median_family_income  B19101_004E        15000      19999          14
19  median_family_income  B19101_005E        20000      24999          18
20  median_family_income  B19101_006E        25000      29999          18
21  median_family_income  B19101_007E        30000      34999          15
22  median_family_income  B19101_008E        35000      39999          19
23  median_family_income  B19101_009E        40000      44999          33
24  median_family_income  B19101_010E        45000      49999           6
25  median_family_income  B19101_011E        50000      59999          71
26  median_family_income  B19101_012E        60000      74999         119
27  median_family_income  B19101_013E        75000      99999         301
28  median_family_income  B19101_014E       100000     124999         328
29  median_family_income  B19101_015E       125000     149999         287
30  median_family_income  B19101_016E       150000     199999         722
31  median_family_income  B19101_017E       200000     250001        1990

    cumulative_total
16                33
17                46
18                60
19                78
20                96
21               111
22               130
23               163
24               169
25               240
26               359
27               660
28               988
29              1275
30              1997
31              3987
7243.5
                           name           id  range_start  range_end  \
32  median_year_structure_built  B25034_011E         1939       1939
33  median_year_structure_built  B25034_010E         1940       1949
34  median_year_structure_built  B25034_009E         1950       1959
35  median_year_structure_built  B25034_008E         1960       1969
36  median_year_structure_built  B25034_007E         1970       1979
37  median_year_structure_built  B25034_006E         1980       1989
38  median_year_structure_built  B25034_005E         1990       1999
39  median_year_structure_built  B25034_004E         2000       2009

                    name           id  range_start  range_end  households  \
16  median_family_income  B19101_002E            0       9999         128
17  median_family_income  B19101_003E        10000      14999         259
18  median_family_income  B19101_004E        15000      19999         302
19  median_family_income  B19101_005E        20000      24999          81
20  median_family_income  B19101_006E        25000      29999         162
21  median_family_income  B19101_007E        30000      34999         114
22  median_family_income  B19101_008E        35000      39999          92
23  median_family_income  B19101_009E        40000      44999           0
24  median_family_income  B19101_010E        45000      49999         375
25  median_family_income  B19101_011E        50000      59999         369
26  median_family_income  B19101_012E        60000      74999         112
27  median_family_income  B19101_013E        75000      99999         250
28  median_family_income  B19101_014E       100000     124999         229
29  median_family_income  B19101_015E       125000     149999         224
30  median_family_income  B19101_016E       150000     199999         385
31  median_family_income  B19101_017E       200000     250001        1075

    cumulative_total
16               128
17               387
18               689
19               770
20               932
21              1046
22              1138
23              1138
24              1513
25              1882
26              1994
27              2244
28              2473
29              2697
30              3082
31              4157
13089.5
                           name           id  range_start  range_end  \
32  median_year_structure_built  B25034_011E         1939       1939
33  median_year_structure_built  B25034_010E         1940       1949
34  median_year_structure_built  B25034_009E         1950       1959
35  median_year_structure_built  B25034_008E         1960       1969
36  median_year_structure_built  B25034_007E         1970       1979
37  median_year_structure_built  B25034_006E         1980       1989
38  median_year_structure_built  B25034_005E         1990       1999
39  median_year_structure_built  B25034_004E         2000       2009
40  median_year_structure_built  B25034_003E         2010       2013
41  median_year_structure_built  B25034_002E         2014       2014

    households  cumulative_total
32       16150             16150
33         740             16890
34        1240             18130
35        1581             19711
36        1558             21269
37         971             22240
38        1032             23272
39        2077             25349
40         516             25865
41         314             26179
11886.0
                       name           id  range_start  range_end  households  \
0   median_household_income  B19001_002E            0       9999        1057
1   median_household_income  B19001_003E        10000      14999        1041
2   median_household_income  B19001_004E        15000      19999         690
3   median_household_income  B19001_005E        20000      24999         915
4   median_household_income  B19001_006E        25000      29999         749
5   median_household_income  B19001_007E        30000      34999         730
6   median_household_income  B19001_008E        35000      39999         365
7   median_household_income  B19001_009E        40000      44999         500
8   median_household_income  B19001_010E        45000      49999         461
9   median_household_income  B19001_011E        50000      59999         845
10  median_household_income  B19001_012E        60000      74999        1270
11  median_household_income  B19001_013E        75000      99999        1542
12  median_household_income  B19001_014E       100000     124999        2125
13  median_household_income  B19001_015E       125000     149999        1701
14  median_household_income  B19001_016E       150000     199999        2564
15  median_household_income  B19001_017E       200000     250001        7217

    cumulative_total
0               1057
1               2098
2               2788
3               3703
4               4452
5               5182
6               5547
7               6047
8               6508
9               7353
10              8623
11             10165
12             12290
13             13991
14             16555
15             23772
4876.0
                    name           id  range_start  range_end  households  \
16  median_family_income  B19101_002E            0       9999         367
17  median_family_income  B19101_003E        10000      14999          82
18  median_family_income  B19101_004E        15000      19999         238
19  median_family_income  B19101_005E        20000      24999         403
20  median_family_income  B19101_006E        25000      29999         273
21  median_family_income  B19101_007E        30000      34999         278
22  median_family_income  B19101_008E        35000      39999         273
23  median_family_income  B19101_009E        40000      44999         283
24  median_family_income  B19101_010E        45000      49999         281
25  median_family_income  B19101_011E        50000      59999         459
26  median_family_income  B19101_012E        60000      74999         660
27  median_family_income  B19101_013E        75000      99999         646
28  median_family_income  B19101_014E       100000     124999         841
29  median_family_income  B19101_015E       125000     149999         678
30  median_family_income  B19101_016E       150000     199999         954
31  median_family_income  B19101_017E       200000     250001        3036

    cumulative_total
16               367
17               449
18               687
19              1090
20              1363
21              1641
22              1914
23              2197
24              2478
25              2937
26              3597
27              4243
28              5084
29              5762
30              6716
31              9752
344.0
                           name           id  range_start  range_end  \
32  median_year_structure_built  B25034_011E         1939       1939
33  median_year_structure_built  B25034_010E         1940       1949
34  median_year_structure_built  B25034_009E         1950       1959
35  median_year_structure_built  B25034_008E         1960       1969
36  median_year_structure_built  B25034_007E         1970       1979
37  median_year_structure_built  B25034_006E         1980       1989
38  median_year_structure_built  B25034_005E         1990       1999
39  median_year_structure_built  B25034_004E         2000       2009
40  median_year_structure_built  B25034_003E         2010       2013
41  median_year_structure_built  B25034_002E         2014       2014

    households  cumulative_total
32          25                25
33          90               115
34         214               329
35         164               493
36          86               579
37          86               665
38          10               675
39           6               681
40           7               688
41           0               688
303.0
                       name           id  range_start  range_end  households  \
0   median_household_income  B19001_002E            0       9999          24
1   median_household_income  B19001_003E        10000      14999          58
2   median_household_income  B19001_004E        15000      19999          28
3   median_household_income  B19001_005E        20000      24999           0
4   median_household_income  B19001_006E        25000      29999           0
5   median_household_income  B19001_007E        30000      34999          72
6   median_household_income  B19001_008E        35000      39999          85
7   median_household_income  B19001_009E        40000      44999           0
8   median_household_income  B19001_010E        45000      49999           6
9   median_household_income  B19001_011E        50000      59999          70
10  median_household_income  B19001_012E        60000      74999          26
11  median_household_income  B19001_013E        75000      99999          43
12  median_household_income  B19001_014E       100000     124999          26
13  median_household_income  B19001_015E       125000     149999          27
14  median_household_income  B19001_016E       150000     199999          65
15  median_household_income  B19001_017E       200000     250001          76

    cumulative_total
0                 24
1                 82
2                110
3                110
4                110
5                182
6                267
7                267
8                273
9                343
10               369
11               412
12               438
13               465
14               530
15               606
151.0
                    name           id  range_start  range_end  households  \
16  median_family_income  B19101_002E            0       9999           0
17  median_family_income  B19101_003E        10000      14999          47
18  median_family_income  B19101_004E        15000      19999          19
19  median_family_income  B19101_005E        20000      24999           0
20  median_family_income  B19101_006E        25000      29999           0
21  median_family_income  B19101_007E        30000      34999          61
22  median_family_income  B19101_008E        35000      39999          43
23  median_family_income  B19101_009E        40000      44999           0
24  median_family_income  B19101_010E        45000      49999           7
25  median_family_income  B19101_011E        50000      59999          35
26  median_family_income  B19101_012E        60000      74999          24
27  median_family_income  B19101_013E        75000      99999          37
28  median_family_income  B19101_014E       100000     124999          11
29  median_family_income  B19101_015E       125000     149999           0
30  median_family_income  B19101_016E       150000     199999           8
31  median_family_income  B19101_017E       200000     250001          10

    cumulative_total
16                 0
17                47
18                66
19                66
20                66
21               127
22               170
23               170
24               177
25               212
26               236
27               273
28               284
29               284
30               292
31               302
1885.0
                           name           id  range_start  range_end  \
32  median_year_structure_built  B25034_011E         1939       1939
33  median_year_structure_built  B25034_010E         1940       1949
34  median_year_structure_built  B25034_009E         1950       1959
35  median_year_structure_built  B25034_008E         1960       1969
36  median_year_structure_built  B25034_007E         1970       1979
37  median_year_structure_built  B25034_006E         1980       1989
38  median_year_structure_built  B25034_005E         1990       1999
39  median_year_structure_built  B25034_004E         2000       2009
40  median_year_structure_built  B25034_003E         2010       2013
41  median_year_structure_built  B25034_002E         2014       2014

    households  cumulative_total
32         455               455
33         150               605
34         851              1456
35        1106              2562
36         617              3179
37         358              3537
38         146              3683
39          45              3728
40           0              3728
41          42              3770
1741.5
                       name           id  range_start  range_end  households  \
0   median_household_income  B19001_002E            0       9999         129
1   median_household_income  B19001_003E        10000      14999         106
2   median_household_income  B19001_004E        15000      19999          29
3   median_household_income  B19001_005E        20000      24999          47
4   median_household_income  B19001_006E        25000      29999          88
5   median_household_income  B19001_007E        30000      34999          92
6   median_household_income  B19001_008E        35000      39999          43
7   median_household_income  B19001_009E        40000      44999          93
8   median_household_income  B19001_010E        45000      49999          14
9   median_household_income  B19001_011E        50000      59999         191
10  median_household_income  B19001_012E        60000      74999         166
11  median_household_income  B19001_013E        75000      99999         340
12  median_household_income  B19001_014E       100000     124999         381
13  median_household_income  B19001_015E       125000     149999         163
14  median_household_income  B19001_016E       150000     199999         483
15  median_household_income  B19001_017E       200000     250001        1118

    cumulative_total
0                129
1                235
2                264
3                311
4                399
5                491
6                534
7                627
8                641
9                832
10               998
11              1338
12              1719
13              1882
14              2365
15              3483
740.0
                    name           id  range_start  range_end  households  \
16  median_family_income  B19101_002E            0       9999           0
17  median_family_income  B19101_003E        10000      14999           0
18  median_family_income  B19101_004E        15000      19999          29
19  median_family_income  B19101_005E        20000      24999           0
20  median_family_income  B19101_006E        25000      29999          68
21  median_family_income  B19101_007E        30000      34999          41
22  median_family_income  B19101_008E        35000      39999           0
23  median_family_income  B19101_009E        40000      44999          55
24  median_family_income  B19101_010E        45000      49999           0
25  median_family_income  B19101_011E        50000      59999          29
26  median_family_income  B19101_012E        60000      74999          14
27  median_family_income  B19101_013E        75000      99999         180
28  median_family_income  B19101_014E       100000     124999         138
29  median_family_income  B19101_015E       125000     149999          77
30  median_family_income  B19101_016E       150000     199999         237
31  median_family_income  B19101_017E       200000     250001         612

    cumulative_total
16                 0
17                 0
18                29
19                29
20                97
21               138
22               138
23               193
24               193
25               222
26               236
27               416
28               554
29               631
30               868
31              1480
5819.0
                           name           id  range_start  range_end  \
32  median_year_structure_built  B25034_011E         1939       1939
33  median_year_structure_built  B25034_010E         1940       1949
34  median_year_structure_built  B25034_009E         1950       1959
35  median_year_structure_built  B25034_008E         1960       1969
36  median_year_structure_built  B25034_007E         1970       1979
37  median_year_structure_built  B25034_006E         1980       1989
38  median_year_structure_built  B25034_005E         1990       1999
39  median_year_structure_built  B25034_004E         2000       2009
40  median_year_structure_built  B25034_003E         2010       2013
41  median_year_structure_built  B25034_002E         2014       2014

    households  cumulative_total
32        6452              6452
33         495              6947
34         687              7634
35        1308              8942
36        1587             10529
37         404             10933
38         233             11166
39         332             11498
40          59             11557
41          81             11638
5393.5
                       name           id  range_start  range_end  households  \
0   median_household_income  B19001_002E            0       9999         322
1   median_household_income  B19001_003E        10000      14999         144
2   median_household_income  B19001_004E        15000      19999         170
3   median_household_income  B19001_005E        20000      24999         179
4   median_household_income  B19001_006E        25000      29999         117
5   median_household_income  B19001_007E        30000      34999         145
6   median_household_income  B19001_008E        35000      39999          72
7   median_household_income  B19001_009E        40000      44999         112
8   median_household_income  B19001_010E        45000      49999         180
9   median_household_income  B19001_011E        50000      59999         442
10  median_household_income  B19001_012E        60000      74999         360
11  median_household_income  B19001_013E        75000      99999         805
12  median_household_income  B19001_014E       100000     124999         813
13  median_household_income  B19001_015E       125000     149999         864
14  median_household_income  B19001_016E       150000     199999        1330
15  median_household_income  B19001_017E       200000     250001        4732

    cumulative_total
0                322
1                466
2                636
3                815
4                932
5               1077
6               1149
7               1261
8               1441
9               1883
10              2243
11              3048
12              3861
13              4725
14              6055
15             10787
2625.0
                    name           id  range_start  range_end  households  \
16  median_family_income  B19101_002E            0       9999          76
17  median_family_income  B19101_003E        10000      14999          71
18  median_family_income  B19101_004E        15000      19999           0
19  median_family_income  B19101_005E        20000      24999          60
20  median_family_income  B19101_006E        25000      29999          15
21  median_family_income  B19101_007E        30000      34999          15
22  median_family_income  B19101_008E        35000      39999          32
23  median_family_income  B19101_009E        40000      44999           0
24  median_family_income  B19101_010E        45000      49999          69
25  median_family_income  B19101_011E        50000      59999         176
26  median_family_income  B19101_012E        60000      74999         105
27  median_family_income  B19101_013E        75000      99999         299
28  median_family_income  B19101_014E       100000     124999         374
29  median_family_income  B19101_015E       125000     149999         415
30  median_family_income  B19101_016E       150000     199999         614
31  median_family_income  B19101_017E       200000     250001        2929

    cumulative_total
16                76
17               147
18               147
19               207
20               222
21               237
22               269
23               269
24               338
25               514
26               619
27               918
28              1292
29              1707
30              2321
31              5250
1886.5
                           name           id  range_start  range_end  \
32  median_year_structure_built  B25034_011E         1939       1939
33  median_year_structure_built  B25034_010E         1940       1949
34  median_year_structure_built  B25034_009E         1950       1959
35  median_year_structure_built  B25034_008E         1960       1969
36  median_year_structure_built  B25034_007E         1970       1979
37  median_year_structure_built  B25034_006E         1980       1989
38  median_year_structure_built  B25034_005E         1990       1999
39  median_year_structure_built  B25034_004E         2000       2009

                           name           id  range_start  range_end  \
32  median_year_structure_built  B25034_011E         1939       1939
33  median_year_structure_built  B25034_010E         1940       1949
34  median_year_structure_built  B25034_009E         1950       1959
35  median_year_structure_built  B25034_008E         1960       1969
36  median_year_structure_built  B25034_007E         1970       1979
37  median_year_structure_built  B25034_006E         1980       1989
38  median_year_structure_built  B25034_005E         1990       1999
39  median_year_structure_built  B25034_004E         2000       2009
40  median_year_structure_built  B25034_003E         2010       2013
41  median_year_structure_built  B25034_002E         2014       2014

    households  cumulative_total
32        2750              2750
33         373              3123
34         243              3366
35         288              3654
36         362              4016
37         661              4677
38         509              5186
39        1272              6458
40         288              6746
41         564              7310
3378.5
                       name           id  range_start  range_end  households  \
0   median_household_income  B19001_002E            0       9999         134
1   median_household_income  B19001_003E        10000      14999         188
2   median_household_income  B19001_004E        15000      19999         343
3   median_household_income  B19001_005E        20000      24999          52
4   median_household_income  B19001_006E        25000      29999         173
5   median_household_income  B19001_007E        30000      34999         176
6   median_household_income  B19001_008E        35000      39999          68
7   median_household_income  B19001_009E        40000      44999         106
8   median_household_income  B19001_010E        45000      49999          51
9   median_household_income  B19001_011E        50000      59999         127
10  median_household_income  B19001_012E        60000      74999         123
11  median_household_income  B19001_013E        75000      99999         428
12  median_household_income  B19001_014E       100000     124999         519
13  median_household_income  B19001_015E       125000     149999         567
14  median_household_income  B19001_016E       150000     199999         783
15  median_household_income  B19001_017E       200000     250001        2919

    cumulative_total
0                134
1                322
2                665
3                717
4                890
5               1066
6               1134
7               1240
8               1291
9               1418
10              1541
11              1969
12              2488
13              3055
14              3838
15              6757
1697.0
                    name           id  range_start  range_end  households  \
16  median_family_income  B19101_002E            0       9999         105
17  median_family_income  B19101_003E        10000      14999          81
18  median_family_income  B19101_004E        15000      19999         241
19  median_family_income  B19101_005E        20000      24999          20
20  median_family_income  B19101_006E        25000      29999          85
21  median_family_income  B19101_007E        30000      34999         145
22  median_family_income  B19101_008E        35000      39999          32
23  median_family_income  B19101_009E        40000      44999          64
24  median_family_income  B19101_010E        45000      49999          20
25  median_family_income  B19101_011E        50000      59999          27
26  median_family_income  B19101_012E        60000      74999          10
27  median_family_income  B19101_013E        75000      99999         162
28  median_family_income  B19101_014E       100000     124999         256
29  median_family_income  B19101_015E       125000     149999         266
30  median_family_income  B19101_016E       150000     199999         315
31  median_family_income  B19101_017E       200000     250001        1565

    cumulative_total
16               105
17               186
18               427
19               447
20               532
21               677
22               709
23               773
24               793
25               820
26               830
27               992
28              1248
29              1514
30              1829
31              3394
6350.5
                           name           id  range_start  range_end  \
32  median_year_structure_built  B25034_011E         1939       1939
33  median_year_structure_built  B25034_010E         1940       1949
34  median_year_structure_built  B25034_009E         1950       1959
35  median_year_structure_built  B25034_008E         1960       1969
36  median_year_structure_built  B25034_007E         1970       1979
37  median_year_structure_built  B25034_006E         1980       1989
38  median_year_structure_built  B25034_005E         1990       1999
39  median_year_structure_built  B25034_004E         2000       2009
40  median_year_structure_built  B25034_003E         2010       2013
41  median_year_structure_built  B25034_002E         2014       2014

    households  cumulative_total
32        3146              3146
33        1843              4989
34        1060              6049
35         823              6872
36        1139              8011
37        1222              9233
38        1006             10239
39        1408             11647
40         562             12209
41         492             12701
5962.5
                       name           id  range_start  range_end  households  \
0   median_household_income  B19001_002E            0       9999        1123
1   median_household_income  B19001_003E        10000      14999         890
2   median_household_income  B19001_004E        15000      19999         420
3   median_household_income  B19001_005E        20000      24999         634
4   median_household_income  B19001_006E        25000      29999         524
5   median_household_income  B19001_007E        30000      34999         424
6   median_household_income  B19001_008E        35000      39999         239
7   median_household_income  B19001_009E        40000      44999         359
8   median_household_income  B19001_010E        45000      49999         402
9   median_household_income  B19001_011E        50000      59999         637
10  median_household_income  B19001_012E        60000      74999        1092
11  median_household_income  B19001_013E        75000      99999        1070
12  median_household_income  B19001_014E       100000     124999         826
13  median_household_income  B19001_015E       125000     149999         951
14  median_household_income  B19001_016E       150000     199999         962
15  median_household_income  B19001_017E       200000     250001        1372

    cumulative_total
0               1123
1               2013
2               2433
3               3067
4               3591
5               4015
6               4254
7               4613
8               5015
9               5652
10              6744
11              7814
12              8640
13              9591
14             10553
15             11925
4101.0
                    name           id  range_start  range_end  households  \
16  median_family_income  B19101_002E            0       9999         482
17  median_family_income  B19101_003E        10000      14999         391
18  median_family_income  B19101_004E        15000      19999         299
19  median_family_income  B19101_005E        20000      24999         405
20  median_family_income  B19101_006E        25000      29999         413
21  median_family_income  B19101_007E        30000      34999         356
22  median_family_income  B19101_008E        35000      39999         209
23  median_family_income  B19101_009E        40000      44999         251
24  median_family_income  B19101_010E        45000      49999         307
25  median_family_income  B19101_011E        50000      59999         463
26  median_family_income  B19101_012E        60000      74999         796
27  median_family_income  B19101_013E        75000      99999         902
28  median_family_income  B19101_014E       100000     124999         620
29  median_family_income  B19101_015E       125000     149999         712
30  median_family_income  B19101_016E       150000     199999         738
31  median_family_income  B19101_017E       200000     250001         858

    cumulative_total
16               482
17               873
18              1172
19              1577
20              1990
21              2346
22              2555
23              2806
24              3113
25              3576
26              4372
27              5274
28              5894
29              6606
30              7344
31              8202
4938.5
                           name           id  range_start  range_end  \
32  median_year_structure_built  B25034_011E         1939       1939
33  median_year_structure_built  B25034_010E         1940       1949
34  median_year_structure_built  B25034_009E         1950       1959
35  median_year_structure_built  B25034_008E         1960       1969
36  median_year_structure_built  B25034_007E         1970       1979
37  median_year_structure_built  B25034_006E         1980       1989
38  median_year_structure_built  B25034_005E         1990       1999
39  median_year_structure_built  B25034_004E         2000       2009
40  median_year_structure_built  B25034_003E         2010       2013
41  median_year_structure_built  B25034_002E         2014       2014

    households  cumulative_total
32        5844              5844
33         835              6679
34         942              7621
35         675              8296
36         474              8770
37         522              9292
38         263              9555
39         276              9831
40          18              9849
41          28              9877
4598.0
                       name           id  range_start  range_end  households  \
0   median_household_income  B19001_002E            0       9999         187
1   median_household_income  B19001_003E        10000      14999         268
2   median_household_income  B19001_004E        15000      19999         214
3   median_household_income  B19001_005E        20000      24999         241
4   median_household_income  B19001_006E        25000      29999          80
5   median_household_income  B19001_007E        30000      34999         218
6   median_household_income  B19001_008E        35000      39999         111
7   median_household_income  B19001_009E        40000      44999         196
8   median_household_income  B19001_010E        45000      49999         145
9   median_household_income  B19001_011E        50000      59999         327
10  median_household_income  B19001_012E        60000      74999         541
11  median_household_income  B19001_013E        75000      99999         877
12  median_household_income  B19001_014E       100000     124999         704
13  median_household_income  B19001_015E       125000     149999         842
14  median_household_income  B19001_016E       150000     199999        1002
15  median_household_income  B19001_017E       200000     250001        3243

    cumulative_total
0                187
1                455
2                669
3                910
4                990
5               1208
6               1319
7               1515
8               1660
9               1987
10              2528
11              3405
12              4109
13              4951
14              5953
15              9196
2748.0
                    name           id  range_start  range_end  households  \
16  median_family_income  B19101_002E            0       9999          87
17  median_family_income  B19101_003E        10000      14999         130
18  median_family_income  B19101_004E        15000      19999         130
19  median_family_income  B19101_005E        20000      24999         106
20  median_family_income  B19101_006E        25000      29999          78
21  median_family_income  B19101_007E        30000      34999         131
22  median_family_income  B19101_008E        35000      39999          63
23  median_family_income  B19101_009E        40000      44999         134
24  median_family_income  B19101_010E        45000      49999         119
25  median_family_income  B19101_011E        50000      59999          85
26  median_family_income  B19101_012E        60000      74999         335
27  median_family_income  B19101_013E        75000      99999         526
28  median_family_income  B19101_014E       100000     124999         315
29  median_family_income  B19101_015E       125000     149999         539
30  median_family_income  B19101_016E       150000     199999         712
31  median_family_income  B19101_017E       200000     250001        2006

    cumulative_total
16                87
17               217
18               347
19               453
20               531
21               662
22               725
23               859
24               978
25              1063
26              1398
27              1924
28              2239
29              2778
30              3490
31              5496
3461.5
                           name           id  range_start  range_end  \
32  median_year_structure_built  B25034_011E         1939       1939
33  median_year_structure_built  B25034_010E         1940       1949
34  median_year_structure_built  B25034_009E         1950       1959
35  median_year_structure_built  B25034_008E         1960       1969
36  median_year_structure_built  B25034_007E         1970       1979
37  median_year_structure_built  B25034_006E         1980       1989
38  median_year_structure_built  B25034_005E         1990       1999
39  median_year_structure_built  B25034_004E         2000       2009
40  median_year_structure_built  B25034_003E         2010       2013
41  median_year_structure_built  B25034_002E         2014       2014

    households  cumulative_total
32        3794              3794
33         867              4661
34         760              5421
35         352              5773
36         339              6112
37         307              6419
38         235              6654
39         229              6883
40          40              6923
41           0              6923
3392.5
                       name           id  range_start  range_end  households  \
0   median_household_income  B19001_002E            0       9999         174
1   median_household_income  B19001_003E        10000      14999         131
2   median_household_income  B19001_004E        15000      19999         148
3   median_household_income  B19001_005E        20000      24999         113
4   median_household_income  B19001_006E        25000      29999         209
5   median_household_income  B19001_007E        30000      34999         204
6   median_household_income  B19001_008E        35000      39999         106
7   median_household_income  B19001_009E        40000      44999         262
8   median_household_income  B19001_010E        45000      49999         220
9   median_household_income  B19001_011E        50000      59999         252
10  median_household_income  B19001_012E        60000      74999         631
11  median_household_income  B19001_013E        75000      99999        1017
12  median_household_income  B19001_014E       100000     124999         871
13  median_household_income  B19001_015E       125000     149999         485
14  median_household_income  B19001_016E       150000     199999         680
15  median_household_income  B19001_017E       200000     250001        1282

    cumulative_total
0                174
1                305
2                453
3                566
4                775
5                979
6               1085
7               1347
8               1567
9               1819
10              2450
11              3467
12              4338
13              4823
14              5503
15              6785
2516.0
                    name           id  range_start  range_end  households  \
16  median_family_income  B19101_002E            0       9999          98
17  median_family_income  B19101_003E        10000      14999          89
18  median_family_income  B19101_004E        15000      19999          81
19  median_family_income  B19101_005E        20000      24999          94
20  median_family_income  B19101_006E        25000      29999         108
21  median_family_income  B19101_007E        30000      34999         156
22  median_family_income  B19101_008E        35000      39999          61
23  median_family_income  B19101_009E        40000      44999         149
24  median_family_income  B19101_010E        45000      49999         180
25  median_family_income  B19101_011E        50000      59999         217
26  median_family_income  B19101_012E        60000      74999         500
27  median_family_income  B19101_013E        75000      99999         771
28  median_family_income  B19101_014E       100000     124999         696
29  median_family_income  B19101_015E       125000     149999         403
30  median_family_income  B19101_016E       150000     199999         452
31  median_family_income  B19101_017E       200000     250001         977

    cumulative_total
16                98
17               187
18               268
19               362
20               470
21               626
22               687
23               836
24              1016
25              1233
26              1733
27              2504
28              3200
29              3603
30              4055
31              5032
5737.5
                           name           id  range_start  range_end  \
32  median_year_structure_built  B25034_011E         1939       1939
33  median_year_structure_built  B25034_010E         1940       1949
34  median_year_structure_built  B25034_009E         1950       1959
35  median_year_structure_built  B25034_008E         1960       1969
36  median_year_structure_built  B25034_007E         1970       1979
37  median_year_structure_built  B25034_006E         1980       1989
38  median_year_structure_built  B25034_005E         1990       1999
39  median_year_structure_built  B25034_004E         2000       2009
40  median_year_structure_built  B25034_003E         2010       2013
41  median_year_structure_built  B25034_002E         2014       2014

    households  cumulative_total
32        5294              5294
33        1757              7051
34        1534              8585
35         786              9371
36         588              9959
37         485             10444
38         603             11047
39         351             11398
40          39             11437
41          38             11475
5488.0
                       name           id  range_start  range_end  households  \
0   median_household_income  B19001_002E            0       9999         378
1   median_household_income  B19001_003E        10000      14999         254
2   median_household_income  B19001_004E        15000      19999         386
3   median_household_income  B19001_005E        20000      24999         342
4   median_household_income  B19001_006E        25000      29999         254
5   median_household_income  B19001_007E        30000      34999         279
6   median_household_income  B19001_008E        35000      39999         229
7   median_household_income  B19001_009E        40000      44999         341
8   median_household_income  B19001_010E        45000      49999         384
9   median_household_income  B19001_011E        50000      59999         549
10  median_household_income  B19001_012E        60000      74999        1113
11  median_household_income  B19001_013E        75000      99999        1609
12  median_household_income  B19001_014E       100000     124999        1082

2489.0
                           name           id  range_start  range_end  \
32  median_year_structure_built  B25034_011E         1939       1939
33  median_year_structure_built  B25034_010E         1940       1949
34  median_year_structure_built  B25034_009E         1950       1959
35  median_year_structure_built  B25034_008E         1960       1969
36  median_year_structure_built  B25034_007E         1970       1979
37  median_year_structure_built  B25034_006E         1980       1989
38  median_year_structure_built  B25034_005E         1990       1999
39  median_year_structure_built  B25034_004E         2000       2009
40  median_year_structure_built  B25034_003E         2010       2013
41  median_year_structure_built  B25034_002E         2014       2014

    households  cumulative_total
32        1248              1248
33         817              2065
34        1121              3186
35         510              3696
36         549              4245
37         288              4533
38         295              4828
39         139              4967
40           0              4967
41          11              4978
2426.5
                       name           id  range_start  range_end  households  \
0   median_household_income  B19001_002E            0       9999         254
1   median_household_income  B19001_003E        10000      14999         167
2   median_household_income  B19001_004E        15000      19999         166
3   median_household_income  B19001_005E        20000      24999          88
4   median_household_income  B19001_006E        25000      29999         120
5   median_household_income  B19001_007E        30000      34999          96
6   median_household_income  B19001_008E        35000      39999         162
7   median_household_income  B19001_009E        40000      44999         147
8   median_household_income  B19001_010E        45000      49999         119
9   median_household_income  B19001_011E        50000      59999         315
10  median_household_income  B19001_012E        60000      74999         439
11  median_household_income  B19001_013E        75000      99999         575
12  median_household_income  B19001_014E       100000     124999         497
13  median_household_income  B19001_015E       125000     149999         423
14  median_household_income  B19001_016E       150000     199999         464
15  median_household_income  B19001_017E       200000     250001         821

    cumulative_total
0                254
1                421
2                587
3                675
4                795
5                891
6               1053
7               1200
8               1319
9               1634
10              2073
11              2648
12              3145
13              3568
14              4032
15              4853
1789.0
                    name           id  range_start  range_end  households  \
16  median_family_income  B19101_002E            0       9999          71
17  median_family_income  B19101_003E        10000      14999          61
18  median_family_income  B19101_004E        15000      19999         115
19  median_family_income  B19101_005E        20000      24999          47
20  median_family_income  B19101_006E        25000      29999          30
21  median_family_income  B19101_007E        30000      34999          85
22  median_family_income  B19101_008E        35000      39999         140
23  median_family_income  B19101_009E        40000      44999          94
24  median_family_income  B19101_010E        45000      49999         122
25  median_family_income  B19101_011E        50000      59999         249
26  median_family_income  B19101_012E        60000      74999         293
27  median_family_income  B19101_013E        75000      99999         497
28  median_family_income  B19101_014E       100000     124999         394
29  median_family_income  B19101_015E       125000     149999         344
30  median_family_income  B19101_016E       150000     199999         397
31  median_family_income  B19101_017E       200000     250001         639

    cumulative_total
16                71
17               132
18               247
19               294
20               324
21               409
22               549
23               643
24               765
25              1014
26              1307
27              1804
28              2198
29              2542
30              2939
31              3578
2654.0
                           name           id  range_start  range_end  \
32  median_year_structure_built  B25034_011E         1939       1939
33  median_year_structure_built  B25034_010E         1940       1949
34  median_year_structure_built  B25034_009E         1950       1959
35  median_year_structure_built  B25034_008E         1960       1969
36  median_year_structure_built  B25034_007E         1970       1979
37  median_year_structure_built  B25034_006E         1980       1989
38  median_year_structure_built  B25034_005E         1990       1999
39  median_year_structure_built  B25034_004E         2000       2009
40  median_year_structure_built  B25034_003E         2010       2013
41  median_year_structure_built  B25034_002E         2014       2014

    households  cumulative_total
32         854               854
33        1566              2420
34         997              3417
35         668              4085
36         368              4453
37         193              4646
38         246              4892
39         398              5290
40          18              5308
41           0              5308
2580.0
                       name           id  range_start  range_end  households  \
0   median_household_income  B19001_002E            0       9999         345
1   median_household_income  B19001_003E        10000      14999         315
2   median_household_income  B19001_004E        15000      19999         190
3   median_household_income  B19001_005E        20000      24999         250
4   median_household_income  B19001_006E        25000      29999         137
5   median_household_income  B19001_007E        30000      34999         125
6   median_household_income  B19001_008E        35000      39999         179
7   median_household_income  B19001_009E        40000      44999         191
8   median_household_income  B19001_010E        45000      49999         147
9   median_household_income  B19001_011E        50000      59999         348
10  median_household_income  B19001_012E        60000      74999         465
11  median_household_income  B19001_013E        75000      99999         776
12  median_household_income  B19001_014E       100000     124999         349
13  median_household_income  B19001_015E       125000     149999         403
14  median_household_income  B19001_016E       150000     199999         432
15  median_household_income  B19001_017E       200000     250001         508

    cumulative_total
0                345
1                660
2                850
3               1100
4               1237
5               1362
6               1541
7               1732
8               1879
9               2227
10              2692
11              3468
12              3817
13              4220
14              4652
15              5160
1988.5
                    name           id  range_start  range_end  households  \
16  median_family_income  B19101_002E            0       9999         209
17  median_family_income  B19101_003E        10000      14999         151
18  median_family_income  B19101_004E        15000      19999          96
19  median_family_income  B19101_005E        20000      24999         160
20  median_family_income  B19101_006E        25000      29999         123
21  median_family_income  B19101_007E        30000      34999          98
22  median_family_income  B19101_008E        35000      39999         180
23  median_family_income  B19101_009E        40000      44999          84
24  median_family_income  B19101_010E        45000      49999         113
25  median_family_income  B19101_011E        50000      59999         357
26  median_family_income  B19101_012E        60000      74999         332
27  median_family_income  B19101_013E        75000      99999         704
28  median_family_income  B19101_014E       100000     124999         310
29  median_family_income  B19101_015E       125000     149999         391
30  median_family_income  B19101_016E       150000     199999         388
31  median_family_income  B19101_017E       200000     250001         281

    cumulative_total
16               209
17               360
18               456
19               616
20               739
21               837
22              1017
23              1101
24              1214
25              1571
26              1903
27              2607
28              2917
29              3308
30              3696
31              3977
6474.5
                           name           id  range_start  range_end  \
32  median_year_structure_built  B25034_011E         1939       1939
33  median_year_structure_built  B25034_010E         1940       1949
34  median_year_structure_built  B25034_009E         1950       1959
35  median_year_structure_built  B25034_008E         1960       1969
36  median_year_structure_built  B25034_007E         1970       1979
37  median_year_structure_built  B25034_006E         1980       1989
38  median_year_structure_built  B25034_005E         1990       1999
39  median_year_structure_built  B25034_004E         2000       2009
40  median_year_structure_built  B25034_003E         2010       2013
41  median_year_structure_built  B25034_002E         2014       2014

    households  cumulative_total
32        5730              5730
33        1491              7221
34        1554              8775
35        1535             10310
36        1388             11698
37         542             12240
38         517             12757
39         135             12892
40          28             12920
41          29             12949
6116.5
                       name           id  range_start  range_end  households  \
0   median_household_income  B19001_002E            0       9999         479
1   median_household_income  B19001_003E        10000      14999         155
2   median_household_income  B19001_004E        15000      19999         185
3   median_household_income  B19001_005E        20000      24999         246
4   median_household_income  B19001_006E        25000      29999         303
5   median_household_income  B19001_007E        30000      34999         112
6   median_household_income  B19001_008E        35000      39999         139
7   median_household_income  B19001_009E        40000      44999         234
8   median_household_income  B19001_010E        45000      49999         158
9   median_household_income  B19001_011E        50000      59999         361
10  median_household_income  B19001_012E        60000      74999         805
11  median_household_income  B19001_013E        75000      99999        1198
12  median_household_income  B19001_014E       100000     124999        1218
13  median_household_income  B19001_015E       125000     149999        1101
14  median_household_income  B19001_016E       150000     199999        1811
15  median_household_income  B19001_017E       200000     250001        3728

    cumulative_total
0                479
1                634
2                819
3               1065
4               1368
5               1480
6               1619
7               1853
8               2011
9               2372
10              3177
11              4375
12              5593
13              6694
14              8505
15             12233
3011.5
                    name           id  range_start  range_end  households  \
16  median_family_income  B19101_002E            0       9999          84
17  median_family_income  B19101_003E        10000      14999          11
18  median_family_income  B19101_004E        15000      19999          37
19  median_family_income  B19101_005E        20000      24999          65
20  median_family_income  B19101_006E        25000      29999         100
21  median_family_income  B19101_007E        30000      34999          45
22  median_family_income  B19101_008E        35000      39999          47
23  median_family_income  B19101_009E        40000      44999          52
24  median_family_income  B19101_010E        45000      49999          51
25  median_family_income  B19101_011E        50000      59999         203
26  median_family_income  B19101_012E        60000      74999         296
27  median_family_income  B19101_013E        75000      99999         580
28  median_family_income  B19101_014E       100000     124999         510
29  median_family_income  B19101_015E       125000     149999         536
30  median_family_income  B19101_016E       150000     199999         937
31  median_family_income  B19101_017E       200000     250001        2469

    cumulative_total
16                84
17                95
18               132
19               197
20               297
21               342
22               389
23               441
24               492
25               695
26               991
27              1571
28              2081
29              2617
30              3554
31              6023
7405.5
                           name           id  range_start  range_end  \
32  median_year_structure_built  B25034_011E         1939       1939
33  median_year_structure_built  B25034_010E         1940       1949
34  median_year_structure_built  B25034_009E         1950       1959
35  median_year_structure_built  B25034_008E         1960       1969
36  median_year_structure_built  B25034_007E         1970       1979
37  median_year_structure_built  B25034_006E         1980       1989
38  median_year_structure_built  B25034_005E         1990       1999
39  median_year_structure_built  B25034_004E         2000       2009
40  median_year_structure_built  B25034_003E         2010       2013
41  median_year_structure_built  B25034_002E         2014       2014

    households  cumulative_total
32        8227              8227
33        1786             10013
34        1913             11926
35         691             12617
36         757             13374
37         760             14134
38         287             14421
39         177             14598
40         184             14782
41          29             14811
6958.5
                       name           id  range_start  range_end  households  \
0   median_household_income  B19001_002E            0       9999         157
1   median_household_income  B19001_003E        10000      14999         113
2   median_household_income  B19001_004E        15000      19999         220
3   median_household_income  B19001_005E        20000      24999         162
4   median_household_income  B19001_006E        25000      29999         216
5   median_household_income  B19001_007E        30000      34999         189
6   median_household_income  B19001_008E        35000      39999         283
7   median_household_income  B19001_009E        40000      44999         290
8   median_household_income  B19001_010E        45000      49999         162
9   median_household_income  B19001_011E        50000      59999         514
10  median_household_income  B19001_012E        60000      74999         546
11  median_household_income  B19001_013E        75000      99999        1454
12  median_household_income  B19001_014E       100000     124999        1127
13  median_household_income  B19001_015E       125000     149999         950
14  median_household_income  B19001_016E       150000     199999        1964
15  median_household_income  B19001_017E       200000     250001        5570

    cumulative_total
0                157
1                270
2                490
3                652
4                868
5               1057
6               1340
7               1630
8               1792
9               2306
10              2852
11              4306
12              5433
13              6383
14              8347
15             13917
5162.0
                    name           id  range_start  range_end  households  \
16  median_family_income  B19101_002E            0       9999          46
17  median_family_income  B19101_003E        10000      14999           0
18  median_family_income  B19101_004E        15000      19999         102
19  median_family_income  B19101_005E        20000      24999          66
20  median_family_income  B19101_006E        25000      29999         101
21  median_family_income  B19101_007E        30000      34999         113
22  median_family_income  B19101_008E        35000      39999         273
23  median_family_income  B19101_009E        40000      44999         218
24  median_family_income  B19101_010E        45000      49999          99
25  median_family_income  B19101_011E        50000      59999         236
26  median_family_income  B19101_012E        60000      74999         392
27  median_family_income  B19101_013E        75000      99999         989
28  median_family_income  B19101_014E       100000     124999         820
29  median_family_income  B19101_015E       125000     149999         651
30  median_family_income  B19101_016E       150000     199999        1613
31  median_family_income  B19101_017E       200000     250001        4605

    cumulative_total
16                46
17                46
18               148
19               214
20               315
21               428
22               701
23               919
24              1018
25              1254
26              1646
27              2635
28              3455
29              4106
30              5719
31             10324
4141.5
                           name           id  range_start  range_end  \
32  median_year_structure_built  B25034_011E         1939       1939
33  median_year_structure_built  B25034_010E         1940       1949
34  median_year_structure_built  B25034_009E         1950       1959
35  median_year_structure_built  B25034_008E         1960       1969
36  median_year_structure_built  B25034_007E         1970       1979
37  median_year_structure_built  B25034_006E         1980       1989
38  median_year_structure_built  B25034_005E         1990       1999
39  median_year_structure_built  B25034_004E         2000       2009
40  median_year_structure_built  B25034_003E         2010       2013
41  median_year_structure_built  B25034_002E         2014       2014

    households  cumulative_total
32        3337              3337
33        1899              5236
34        1103              6339
35         629              6968
36         262              7230
37         309              7539
38         218              7757
39         405              8162
40          97              8259
41          24              8283
3936.5
                       name           id  range_start  range_end  households  \
0   median_household_income  B19001_002E            0       9999         292
1   median_household_income  B19001_003E        10000      14999         276
2   median_household_income  B19001_004E        15000      19999         222
3   median_household_income  B19001_005E        20000      24999         288
4   median_household_income  B19001_006E        25000      29999         307
5   median_household_income  B19001_007E        30000      34999         157
6   median_household_income  B19001_008E        35000      39999         127
7   median_household_income  B19001_009E        40000      44999         276
8   median_household_income  B19001_010E        45000      49999         184
9   median_household_income  B19001_011E        50000      59999         506
10  median_household_income  B19001_012E        60000      74999         644
11  median_household_income  B19001_013E        75000      99999        1200
12  median_household_income  B19001_014E       100000     124999         875

9315.0
                    name           id  range_start  range_end  households  \
16  median_family_income  B19101_002E            0       9999         242
17  median_family_income  B19101_003E        10000      14999         222
18  median_family_income  B19101_004E        15000      19999         273
19  median_family_income  B19101_005E        20000      24999         273
20  median_family_income  B19101_006E        25000      29999         387
21  median_family_income  B19101_007E        30000      34999         275
22  median_family_income  B19101_008E        35000      39999         437
23  median_family_income  B19101_009E        40000      44999         558
24  median_family_income  B19101_010E        45000      49999         459
25  median_family_income  B19101_011E        50000      59999         864
26  median_family_income  B19101_012E        60000      74999        1241
27  median_family_income  B19101_013E        75000      99999        1816
28  median_family_income  B19101_014E       100000     124999        2006
29  median_family_income  B19101_015E       125000     149999        1961
30  median_family_income  B19101_016E       150000     199999        3136
31  median_family_income  B19101_017E       200000     250001        4480

    cumulative_total
16               242
17               464
18               737
19              1010
20              1397
21              1672
22              2109
23              2667
24              3126
25              3990
26              5231
27              7047
28              9053
29             11014
30             14150
31             18630
2640.5
                           name           id  range_start  range_end  \
32  median_year_structure_built  B25034_011E         1939       1939
33  median_year_structure_built  B25034_010E         1940       1949
34  median_year_structure_built  B25034_009E         1950       1959
35  median_year_structure_built  B25034_008E         1960       1969
36  median_year_structure_built  B25034_007E         1970       1979
37  median_year_structure_built  B25034_006E         1980       1989
38  median_year_structure_built  B25034_005E         1990       1999
39  median_year_structure_built  B25034_004E         2000       2009
40  median_year_structure_built  B25034_003E         2010       2013
41  median_year_structure_built  B25034_002E         2014       2014

    households  cumulative_total
32         176               176
33        1605              1781
34        1255              3036
35         344              3380
36         969              4349
37         460              4809
38         150              4959
39         160              5119
40          20              5139
41         142              5281
2462.0
                       name           id  range_start  range_end  households  \
0   median_household_income  B19001_002E            0       9999         584
1   median_household_income  B19001_003E        10000      14999          94
2   median_household_income  B19001_004E        15000      19999         291
3   median_household_income  B19001_005E        20000      24999         160
4   median_household_income  B19001_006E        25000      29999         144
5   median_household_income  B19001_007E        30000      34999         219
6   median_household_income  B19001_008E        35000      39999         331
7   median_household_income  B19001_009E        40000      44999         229
8   median_household_income  B19001_010E        45000      49999         167
9   median_household_income  B19001_011E        50000      59999         189
10  median_household_income  B19001_012E        60000      74999         423
11  median_household_income  B19001_013E        75000      99999         612
12  median_household_income  B19001_014E       100000     124999         378
13  median_household_income  B19001_015E       125000     149999         220
14  median_household_income  B19001_016E       150000     199999         405
15  median_household_income  B19001_017E       200000     250001         478

    cumulative_total
0                584
1                678
2                969
3               1129
4               1273
5               1492
6               1823
7               2052
8               2219
9               2408
10              2831
11              3443
12              3821
13              4041
14              4446
15              4924
962.0
                    name           id  range_start  range_end  households  \
16  median_family_income  B19101_002E            0       9999          89
17  median_family_income  B19101_003E        10000      14999          24
18  median_family_income  B19101_004E        15000      19999         156
19  median_family_income  B19101_005E        20000      24999          72
20  median_family_income  B19101_006E        25000      29999           5
21  median_family_income  B19101_007E        30000      34999          95
22  median_family_income  B19101_008E        35000      39999          92
23  median_family_income  B19101_009E        40000      44999          48
24  median_family_income  B19101_010E        45000      49999          52
25  median_family_income  B19101_011E        50000      59999          67
26  median_family_income  B19101_012E        60000      74999          98
27  median_family_income  B19101_013E        75000      99999         332
28  median_family_income  B19101_014E       100000     124999         193
29  median_family_income  B19101_015E       125000     149999         105
30  median_family_income  B19101_016E       150000     199999         229
31  median_family_income  B19101_017E       200000     250001         267

    cumulative_total
16                89
17               113
18               269
19               341
20               346
21               441
22               533
23               581
24               633
25               700
26               798
27              1130
28              1323
29              1428
30              1657
31              1924
4938.0
                           name           id  range_start  range_end  \
32  median_year_structure_built  B25034_011E         1939       1939
33  median_year_structure_built  B25034_010E         1940       1949
34  median_year_structure_built  B25034_009E         1950       1959
35  median_year_structure_built  B25034_008E         1960       1969
36  median_year_structure_built  B25034_007E         1970       1979
37  median_year_structure_built  B25034_006E         1980       1989
38  median_year_structure_built  B25034_005E         1990       1999
39  median_year_structure_built  B25034_004E         2000       2009
40  median_year_structure_built  B25034_003E         2010       2013
41  median_year_structure_built  B25034_002E         2014       2014

    households  cumulative_total
32        5950              5950
33         467              6417
34         809              7226
35         835              8061
36         993              9054
37         286              9340
38         396              9736
39         113              9849
40          17              9866
41          10              9876
4692.5
                       name           id  range_start  range_end  households  \
0   median_household_income  B19001_002E            0       9999         318
1   median_household_income  B19001_003E        10000      14999         365
2   median_household_income  B19001_004E        15000      19999         265
3   median_household_income  B19001_005E        20000      24999         178
4   median_household_income  B19001_006E        25000      29999         184
5   median_household_income  B19001_007E        30000      34999         115
6   median_household_income  B19001_008E        35000      39999         212
7   median_household_income  B19001_009E        40000      44999         259
8   median_household_income  B19001_010E        45000      49999         101
9   median_household_income  B19001_011E        50000      59999         405
10  median_household_income  B19001_012E        60000      74999         517
11  median_household_income  B19001_013E        75000      99999        1139
12  median_household_income  B19001_014E       100000     124999         961
13  median_household_income  B19001_015E       125000     149999         595
14  median_household_income  B19001_016E       150000     199999        1302
15  median_household_income  B19001_017E       200000     250001        2469

    cumulative_total
0                318
1                683
2                948
3               1126
4               1310
5               1425
6               1637
7               1896
8               1997
9               2402
10              2919
11              4058
12              5019
13              5614
14              6916
15              9385
2268.0
                    name           id  range_start  range_end  households  \
16  median_family_income  B19101_002E            0       9999          33
17  median_family_income  B19101_003E        10000      14999          78
18  median_family_income  B19101_004E        15000      19999          55
19  median_family_income  B19101_005E        20000      24999          43
20  median_family_income  B19101_006E        25000      29999          70
21  median_family_income  B19101_007E        30000      34999          60
22  median_family_income  B19101_008E        35000      39999         149
23  median_family_income  B19101_009E        40000      44999         158
24  median_family_income  B19101_010E        45000      49999          51
25  median_family_income  B19101_011E        50000      59999         163
26  median_family_income  B19101_012E        60000      74999         145
27  median_family_income  B19101_013E        75000      99999         554
28  median_family_income  B19101_014E       100000     124999         453
29  median_family_income  B19101_015E       125000     149999         238
30  median_family_income  B19101_016E       150000     199999         552
31  median_family_income  B19101_017E       200000     250001        1734

    cumulative_total
16                33
17               111
18               166
19               209
20               279
21               339
22               488
23               646
24               697
25               860
26              1005
27              1559
28              2012
29              2250
30              2802
31              4536
10145.0
                           name           id  range_start  range_end  \
32  median_year_structure_built  B25034_011E         1939       1939
33  median_year_structure_built  B25034_010E         1940       1949
34  median_year_structure_built  B25034_009E         1950       1959
35  median_year_structure_built  B25034_008E         1960       1969
36  median_year_structure_built  B25034_007E         1970       1979
37  median_year_structure_built  B25034_006E         1980       1989
38  median_year_structure_built  B25034_005E         1990       1999
39  median_year_structure_built  B25034_004E         2000       2009
40  median_year_structure_built  B25034_003E         2010       2013
41  median_year_structure_built  B25034_002E         2014       2014

    households  cumulative_total
32       11064             11064
33        1733             12797
34        1579             14376
35        1923             16299
36        1816             18115
37        1110             19225
38         641             19866
39         316             20182
40          22             20204
41          86             20290
9326.0
                       name           id  range_start  range_end  households  \
0   median_household_income  B19001_002E            0       9999         761
1   median_household_income  B19001_003E        10000      14999         923
2   median_household_income  B19001_004E        15000      19999         493
3   median_household_income  B19001_005E        20000      24999         573
4   median_household_income  B19001_006E        25000      29999         246
5   median_household_income  B19001_007E        30000      34999         552
6   median_household_income  B19001_008E        35000      39999         371
7   median_household_income  B19001_009E        40000      44999         525
8   median_household_income  B19001_010E        45000      49999         480
9   median_household_income  B19001_011E        50000      59999         999
10  median_household_income  B19001_012E        60000      74999        1171
11  median_household_income  B19001_013E        75000      99999        1903
12  median_household_income  B19001_014E       100000     124999        1649
13  median_household_income  B19001_015E       125000     149999        1415
14  median_household_income  B19001_016E       150000     199999        2841
15  median_household_income  B19001_017E       200000     250001        3750

    cumulative_total
0                761
1               1684
2               2177
3               2750
4               2996
5               3548
6               3919
7               4444
8               4924
9               5923
10              7094
11              8997
12             10646
13             12061
14             14902
15             18652
5016.5
                    name           id  range_start  range_end  households  \
16  median_family_income  B19101_002E            0       9999         151
17  median_family_income  B19101_003E        10000      14999         177
18  median_family_income  B19101_004E        15000      19999         171
19  median_family_income  B19101_005E        20000      24999         303
20  median_family_income  B19101_006E        25000      29999          78
21  median_family_income  B19101_007E        30000      34999         162
22  median_family_income  B19101_008E        35000      39999         228
23  median_family_income  B19101_009E        40000      44999         295
24  median_family_income  B19101_010E        45000      49999         230
25  median_family_income  B19101_011E        50000      59999         300
26  median_family_income  B19101_012E        60000      74999         590
27  median_family_income  B19101_013E        75000      99999         911
28  median_family_income  B19101_014E       100000     124999         958
29  median_family_income  B19101_015E       125000     149999         783
30  median_family_income  B19101_016E       150000     199999        1786
31  median_family_income  B19101_017E       200000     250001        2910

    cumulative_total
16               151
17               328
18               499
19               802
20               880
21              1042
22              1270
23              1565
24              1795
25              2095
26              2685
27              3596
28              4554
29              5337
30              7123
31             10033
510.0
                           name           id  range_start  range_end  \
32  median_year_structure_built  B25034_011E         1939       1939
33  median_year_structure_built  B25034_010E         1940       1949
34  median_year_structure_built  B25034_009E         1950       1959
35  median_year_structure_built  B25034_008E         1960       1969
36  median_year_structure_built  B25034_007E         1970       1979
37  median_year_structure_built  B25034_006E         1980       1989
38  median_year_structure_built  B25034_005E         1990       1999
39  median_year_structure_built  B25034_004E         2000       2009
40  median_year_structure_built  B25034_003E         2010       2013
41  median_year_structure_built  B25034_002E         2014       2014

    households  cumulative_total
32         733               733
33         116               849
34          23               872
35          58               930
36          44               974
37          31              1005
38           0              1005
39          15              1020
40           0              1020
41           0              1020
445.5
                       name           id  range_start  range_end  households  \
0   median_household_income  B19001_002E            0       9999          21
1   median_household_income  B19001_003E        10000      14999          13
2   median_household_income  B19001_004E        15000      19999           5
3   median_household_income  B19001_005E        20000      24999          14
4   median_household_income  B19001_006E        25000      29999          13
5   median_household_income  B19001_007E        30000      34999           0
6   median_household_income  B19001_008E        35000      39999           4
7   median_household_income  B19001_009E        40000      44999          19
8   median_household_income  B19001_010E        45000      49999           0
9   median_household_income  B19001_011E        50000      59999          34
10  median_household_income  B19001_012E        60000      74999          62
11  median_household_income  B19001_013E        75000      99999          67
12  median_household_income  B19001_014E       100000     124999          36
13  median_household_income  B19001_015E       125000     149999         103
14  median_household_income  B19001_016E       150000     199999         118
15  median_household_income  B19001_017E       200000     250001         382

    cumulative_total
0                 21
1                 34
2                 39
3                 53
4                 66
5                 66
6                 70
7                 89
8                 89
9                123
10               185
11               252
12               288
13               391
14               509
15               891
345.5
                    name           id  range_start  range_end  households  \
16  median_family_income  B19101_002E            0       9999           6
17  median_family_income  B19101_003E        10000      14999           6
18  median_family_income  B19101_004E        15000      19999           0
19  median_family_income  B19101_005E        20000      24999          14
20  median_family_income  B19101_006E        25000      29999           7
21  median_family_income  B19101_007E        30000      34999           0
22  median_family_income  B19101_008E        35000      39999           4
23  median_family_income  B19101_009E        40000      44999           3
24  median_family_income  B19101_010E        45000      49999           0
25  median_family_income  B19101_011E        50000      59999          16
26  median_family_income  B19101_012E        60000      74999          42
27  median_family_income  B19101_013E        75000      99999          45
28  median_family_income  B19101_014E       100000     124999          30
29  median_family_income  B19101_015E       125000     149999          66
30  median_family_income  B19101_016E       150000     199999         112
31  median_family_income  B19101_017E       200000     250001         340

    cumulative_total
16                 6
17                12
18                12
19                26
20                33
21                33
22                37
23                40
24                40
25                56
26                98
27               143
28               173
29               239
30               351
31               691
668.0
                           name           id  range_start  range_end  \
32  median_year_structure_built  B25034_011E         1939       1939
33  median_year_structure_built  B25034_010E         1940       1949
34  median_year_structure_built  B25034_009E         1950       1959
35  median_year_structure_built  B25034_008E         1960       1969
36  median_year_structure_built  B25034_007E         1970       1979
37  median_year_structure_built  B25034_006E         1980       1989
38  median_year_structure_built  B25034_005E         1990       1999
39  median_year_structure_built  B25034_004E         2000       2009

15              1324
368.5
                    name           id  range_start  range_end  households  \
16  median_family_income  B19101_002E            0       9999           0
17  median_family_income  B19101_003E        10000      14999           0
18  median_family_income  B19101_004E        15000      19999           0
19  median_family_income  B19101_005E        20000      24999           0
20  median_family_income  B19101_006E        25000      29999          25
21  median_family_income  B19101_007E        30000      34999          13
22  median_family_income  B19101_008E        35000      39999           0
23  median_family_income  B19101_009E        40000      44999           0
24  median_family_income  B19101_010E        45000      49999          33
25  median_family_income  B19101_011E        50000      59999          26
26  median_family_income  B19101_012E        60000      74999          40
27  median_family_income  B19101_013E        75000      99999           0
28  median_family_income  B19101_014E       100000     124999          36
29  median_family_income  B19101_015E       125000     149999          25
30  median_family_income  B19101_016E       150000     199999          65
31  median_family_income  B19101_017E       200000     250001         474

    cumulative_total
16                 0
17                 0
18                 0
19                 0
20                25
21                38
22                38
23                38
24                71
25                97
26               137
27               137
28               173
29               198
30               263
31               737
3622.0
                           name           id  range_start  range_end  \
32  median_year_structure_built  B25034_011E         1939       1939
33  median_year_structure_built  B25034_010E         1940       1949
34  median_year_structure_built  B25034_009E         1950       1959
35  median_year_structure_built  B25034_008E         1960       1969
36  median_year_structure_built  B25034_007E         1970       1979
37  median_year_structure_built  B25034_006E         1980       1989
38  median_year_structure_built  B25034_005E         1990       1999
39  median_year_structure_built  B25034_004E         2000       2009
40  median_year_structure_built  B25034_003E         2010       2013
41  median_year_structure_built  B25034_002E         2014       2014

    households  cumulative_total
32          26                26
33         109               135
34           0               135
35          40               175
36           0               175
37         147               322
38         530               852
39        4169              5021
40        1090              6111
41        1133              7244
3156.0
                       name           id  range_start  range_end  households  \
0   median_household_income  B19001_002E            0       9999         361
1   median_household_income  B19001_003E        10000      14999         306
2   median_household_income  B19001_004E        15000      19999          45
3   median_household_income  B19001_005E        20000      24999          64
4   median_household_income  B19001_006E        25000      29999         168
5   median_household_income  B19001_007E        30000      34999          28
6   median_household_income  B19001_008E        35000      39999         124
7   median_household_income  B19001_009E        40000      44999          35
8   median_household_income  B19001_010E        45000      49999          14
9   median_household_income  B19001_011E        50000      59999          98
10  median_household_income  B19001_012E        60000      74999         188
11  median_household_income  B19001_013E        75000      99999         534
12  median_household_income  B19001_014E       100000     124999         294
13  median_household_income  B19001_015E       125000     149999         514
14  median_household_income  B19001_016E       150000     199999        1109
15  median_household_income  B19001_017E       200000     250001        2430

    cumulative_total
0                361
1                667
2                712
3                776
4                944
5                972
6               1096
7               1131
8               1145
9               1243
10              1431
11              1965
12              2259
13              2773
14              3882
15              6312
1591.0
                    name           id  range_start  range_end  households  \
16  median_family_income  B19101_002E            0       9999         109
17  median_family_income  B19101_003E        10000      14999          32
18  median_family_income  B19101_004E        15000      19999          45
19  median_family_income  B19101_005E        20000      24999          27
20  median_family_income  B19101_006E        25000      29999          70
21  median_family_income  B19101_007E        30000      34999           0
22  median_family_income  B19101_008E        35000      39999         102
23  median_family_income  B19101_009E        40000      44999           0
24  median_family_income  B19101_010E        45000      49999           0
25  median_family_income  B19101_011E        50000      59999          48
26  median_family_income  B19101_012E        60000      74999          94
27  median_family_income  B19101_013E        75000      99999         424
28  median_family_income  B19101_014E       100000     124999         147
29  median_family_income  B19101_015E       125000     149999         180
30  median_family_income  B19101_016E       150000     199999         452
31  median_family_income  B19101_017E       200000     250001        1452

    cumulative_total
16               109
17               141
18               186
19               213
20               283
21               283
22               385
23               385
24               385
25               433
26               527
27               951
28              1098
29              1278
30              1730
31              3182
39.5
                           name           id  range_start  range_end  \
32  median_year_structure_built  B25034_011E         1939       1939
33  median_year_structure_built  B25034_010E         1940       1949
34  median_year_structure_built  B25034_009E         1950       1959
35  median_year_structure_built  B25034_008E         1960       1969
36  median_year_structure_built  B25034_007E         1970       1979
37  median_year_structure_built  B25034_006E         1980       1989
38  median_year_structure_built  B25034_005E         1990       1999
39  median_year_structure_built  B25034_004E         2000       2009
40  median_year_structure_built  B25034_003E         2010       2013
41  median_year_structure_built  B25034_002E         2014       2014

    households  cumulative_total
32          14                14
33          23                37
34          13                50
35           6                56
36          12                68
37           0                68
38          11                79
39           0                79
40           0                79
41           0                79
35.0
                       name           id  range_start  range_end  households  \
0   median_household_income  B19001_002E            0       9999           0
1   median_household_income  B19001_003E        10000      14999           0
2   median_household_income  B19001_004E        15000      19999           0
3   median_household_income  B19001_005E        20000      24999           0
4   median_household_income  B19001_006E        25000      29999           0
5   median_household_income  B19001_007E        30000      34999           0
6   median_household_income  B19001_008E        35000      39999           0
7   median_household_income  B19001_009E        40000      44999           0
8   median_household_income  B19001_010E        45000      49999           6
9   median_household_income  B19001_011E        50000      59999           0
10  median_household_income  B19001_012E        60000      74999           7
11  median_household_income  B19001_013E        75000      99999          12
12  median_household_income  B19001_014E       100000     124999           0
13  median_household_income  B19001_015E       125000     149999           6
14  median_household_income  B19001_016E       150000     199999          27
15  median_household_income  B19001_017E       200000     250001          12

    cumulative_total
0                  0
1                  0
2                  0
3                  0
4                  0
5                  0
6                  0
7                  0
8                  6
9                  6
10                13
11                25
12                25
13                31
14                58
15                70
15.5
                    name           id  range_start  range_end  households  \
16  median_family_income  B19101_002E            0       9999           0
17  median_family_income  B19101_003E        10000      14999           0
18  median_family_income  B19101_004E        15000      19999           0
19  median_family_income  B19101_005E        20000      24999           0
20  median_family_income  B19101_006E        25000      29999           0
21  median_family_income  B19101_007E        30000      34999           0
22  median_family_income  B19101_008E        35000      39999           0
23  median_family_income  B19101_009E        40000      44999           0
24  median_family_income  B19101_010E        45000      49999           0
25  median_family_income  B19101_011E        50000      59999           0
26  median_family_income  B19101_012E        60000      74999           0
27  median_family_income  B19101_013E        75000      99999          12
28  median_family_income  B19101_014E       100000     124999           0
29  median_family_income  B19101_015E       125000     149999           6
30  median_family_income  B19101_016E       150000     199999           7
31  median_family_income  B19101_017E       200000     250001           6

    cumulative_total
16                 0
17                 0
18                 0
19                 0
20                 0
21                 0
22                 0
23                 0
24                 0
25                 0
26                 0
27                12
28                12
29                18
30                25
31                31
24.0
                           name           id  range_start  range_end  \
32  median_year_structure_built  B25034_011E         1939       1939
33  median_year_structure_built  B25034_010E         1940       1949
34  median_year_structure_built  B25034_009E         1950       1959
35  median_year_structure_built  B25034_008E         1960       1969
36  median_year_structure_built  B25034_007E         1970       1979
37  median_year_structure_built  B25034_006E         1980       1989
38  median_year_structure_built  B25034_005E         1990       1999
39  median_year_structure_built  B25034_004E         2000       2009
40  median_year_structure_built  B25034_003E         2010       2013
41  median_year_structure_built  B25034_002E         2014       2014

    households  cumulative_total
32          18                18
33           4                22
34           0                22
35           0                22
36           5                27
37           6                33
38          15                48
39           0                48
40           0                48
41           0                48
24.0
                       name           id  range_start  range_end  households  \
0   median_household_income  B19001_002E            0       9999           0
1   median_household_income  B19001_003E        10000      14999           0
2   median_household_income  B19001_004E        15000      19999           0
3   median_household_income  B19001_005E        20000      24999           0
4   median_household_income  B19001_006E        25000      29999           0
5   median_household_income  B19001_007E        30000      34999           0
6   median_household_income  B19001_008E        35000      39999           0
7   median_household_income  B19001_009E        40000      44999           0
8   median_household_income  B19001_010E        45000      49999           0
9   median_household_income  B19001_011E        50000      59999           0
10  median_household_income  B19001_012E        60000      74999           0
11  median_household_income  B19001_013E        75000      99999          21
12  median_household_income  B19001_014E       100000     124999           0
13  median_household_income  B19001_015E       125000     149999           4
14  median_household_income  B19001_016E       150000     199999          23
15  median_household_income  B19001_017E       200000     250001           0

    cumulative_total
0                  0
1                  0
2                  0
3                  0
4                  0
5                  0
6                  0
7                  0
8                  0
9                  0
10                 0
11                21
12                21
13                25
14                48
15                48
125.5
                           name           id  range_start  range_end  \
32  median_year_structure_built  B25034_011E         1939       1939
33  median_year_structure_built  B25034_010E         1940       1949
34  median_year_structure_built  B25034_009E         1950       1959
35  median_year_structure_built  B25034_008E         1960       1969
36  median_year_structure_built  B25034_007E         1970       1979
37  median_year_structure_built  B25034_006E         1980       1989
38  median_year_structure_built  B25034_005E         1990       1999
39  median_year_structure_built  B25034_004E         2000       2009
40  median_year_structure_built  B25034_003E         2010       2013
41  median_year_structure_built  B25034_002E         2014       2014

    households  cumulative_total
32           0                 0
33          55                55
34          33                88
35          30               118
36          22               140
37           0               140
38          16               156
39          95               251
40           0               251
41           0               251
119.5
                       name           id  range_start  range_end  households  \
0   median_household_income  B19001_002E            0       9999          39
1   median_household_income  B19001_003E        10000      14999         100
2   median_household_income  B19001_004E        15000      19999           5
3   median_household_income  B19001_005E        20000      24999          31
4   median_household_income  B19001_006E        25000      29999           0
5   median_household_income  B19001_007E        30000      34999           0
6   median_household_income  B19001_008E        35000      39999          11
7   median_household_income  B19001_009E        40000      44999           0
8   median_household_income  B19001_010E        45000      49999           0
9   median_household_income  B19001_011E        50000      59999           0
10  median_household_income  B19001_012E        60000      74999           5
11  median_household_income  B19001_013E        75000      99999           0
12  median_household_income  B19001_014E       100000     124999          43
13  median_household_income  B19001_015E       125000     149999           0
14  median_household_income  B19001_016E       150000     199999           5
15  median_household_income  B19001_017E       200000     250001           0

    cumulative_total
0                 39
1                139
2                144
3                175
4                175
5                175
6                186
7                186
8                186
9                186
10               191
11               191
12               234
13               234
14               239
15               239
56.5
                    name           id  range_start  range_end  households  \
16  median_family_income  B19101_002E            0       9999           5
17  median_family_income  B19101_003E        10000      14999          13
18  median_family_income  B19101_004E        15000      19999           5
19  median_family_income  B19101_005E        20000      24999          31
20  median_family_income  B19101_006E        25000      29999           0
21  median_family_income  B19101_007E        30000      34999           0
22  median_family_income  B19101_008E        35000      39999           6
23  median_family_income  B19101_009E        40000      44999           0
24  median_family_income  B19101_010E        45000      49999           0
25  median_family_income  B19101_011E        50000      59999           0
26  median_family_income  B19101_012E        60000      74999           5
27  median_family_income  B19101_013E        75000      99999           0
28  median_family_income  B19101_014E       100000     124999          43
29  median_family_income  B19101_015E       125000     149999           0
30  median_family_income  B19101_016E       150000     199999           5
31  median_family_income  B19101_017E       200000     250001           0

    cumulative_total
16                 5
17                18
18                23
19                54
20                54
21                54
22                60
23                60
24                60
25                60
26                65
27                65
28               108
29               108
30               113
31               113

,Attribute,North Beach,Russian Hill,Financial District,Chinatown,Nob Hill,Tenderloin,Marina,Pacific Heights,Presidio Heights,...,Sunset/Parkside,Lakeshore,Inner Richmond,Outer Richmond,Seacliff,Presidio,Mission Bay,Lincoln Park,Golden Gate Park,McLaren Park
0,Total Population,11854.000000,18139.000000,21537.000000,14438.000000,26445.000000,29927.000000,25375.000000,24279.000000,10585.000000,...,82682.000000,14801.000000,22572.000000,45921.000000,2507.000000,4226.000000,13222.000000,312.000000,63.000000,507.000000
1,Group Quarter Population,17.000000,5.000000,563.000000,53.000000,977.000000,1523.000000,97.000000,518.000000,196.000000,...,452.000000,2723.000000,147.000000,202.000000,0.000000,0.000000,342.000000,191.000000,0.000000,0.000000
2,Percent Female,0.486081,0.503501,0.465617,0.516207,0.490641,0.429913,0.515153,0.518226,0.514218,...,0.507922,0.538950,0.547891,0.512336,0.483845,0.539991,0.519286,0.227564,0.396825,0.585799
3,Housholds,6297.000000,9636.000000,11297.000000,6907.000000,15247.000000,17649.000000,13583.000000,12815.000000,4805.000000,...,28277.000000,4924.000000,9385.000000,18652.000000,891.000000,1324.000000,6312.000000,70.000000,48.000000,239.000000
4,Family Households,0.397332,0.365816,0.372754,0.522948,0.268840,0.234348,0.309578,0.353726,0.470760,...,0.658839,0.390739,0.483324,0.537905,0.775533,0.556647,0.504119,0.442857,0.000000,0.472803

In [56]:
# transpose dataset for second neighborhood view of dataset
df_all_calcs2 = df_all_calcs.T.reset_index()
df_all_calcs2.columns = df_all_calcs2.iloc[0]
df_all_calcs2 = df_all_calcs2[1:].rename(columns={'Attribute':'Neighborhood'})
df_all_calcs2[["Median Household Income","Neighborhood"]]

0  Median Household Income                Neighborhood
1                  88275.0                 North Beach
2            144372.294372                Russian Hill
3            183786.525974          Financial District
4             25255.235602                   Chinatown
5             91083.865351                    Nob Hill
6             35653.526971                  Tenderloin
7            165038.222647                      Marina
8            169015.199493             Pacific Heights
9            149321.086262            Presidio Heights
10            76238.636364            Western Addition
11            88064.516129                   Japantown
12           133445.945946           Lone Mountain/USF
13           137961.696306                Hayes Valley
14           172486.671744              Haight Ashbury
15           162554.517134         Castro/Upper Market
16            69384.615385             South of Market
17           120247.058824                     Mission
18            54285.714286             Treasure Island
19           128450.920245                  Twin Peaks
20           175131.578947                  Noe Valley
21           169599.627561                   Glen Park
22           170657.726692                Potrero Hill
23             64265.10989       Bayview Hunters Point
24           139519.002375              Bernal Heights
25            98168.633235               Outer Mission
26            90211.311374                   Excelsior
27            90369.565217                     Portola
28            71387.096774           Visitacion Valley
29           136886.920981                Inner Sunset
30           164651.221996          West of Twin Peaks
31            88697.916667  Oceanview/Merced/Ingleside
32           113737.802674             Sunset/Parkside
33            61914.893617                   Lakeshore
34           116506.243496              Inner Richmond
35           104987.871437              Outer Richmond
36           173093.220339                    Seacliff
37           200890.243323                    Presidio
38           167267.808837                 Mission Bay
39           157407.407407                Lincoln Park
40                143750.0            Golden Gate Park
41                 14025.0                McLaren Park

## Visualizations

## Export

In [ ]:
# export both dataset views to csv
df_all_calcs.to_csv(r'C:\Users\Jason Sherba\Downloads\data\test.csv', index = False)
df_all_calcs2.to_csv(r'C:\Users\Jason Sherba\Downloads\data\test2.csv', index = False)